In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# import splitting and imputing functions
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

# turn off pink boxes for demo
import warnings
warnings.filterwarnings("ignore")

# import our own acquire module
import acquire

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as stats
import seaborn as sns
from env import get_connection
from pydataset import data

import warnings
warnings.filterwarnings('ignore')

## In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

In [2]:
df_iris = data('iris')

- print the first 3 rows

In [3]:
df_iris.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

- print the number of rows and columns (shape)

In [4]:
df_iris.shape

(150, 5)

- print the column names

In [5]:
df_iris.columns

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

- print the data type of each column

In [6]:
df_iris.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 1 to 150
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal.Length  150 non-null    float64
 1   Sepal.Width   150 non-null    float64
 2   Petal.Length  150 non-null    float64
 3   Petal.Width   150 non-null    float64
 4   Species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 7.0+ KB

- print the summary statistics for each of the numeric variables

In [7]:
df_iris.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

## Read the data from this google sheet into a dataframe, df_google.

In [8]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'    

csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

titanic = pd.read_csv(csv_export_url)
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

- print the first 3 rows

In [9]:
titanic.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

-  print the number of rows and columns

In [10]:
titanic.shape

(891, 12)

- print the column names

In [11]:
titanic.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

- print the data type of each column

In [12]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

- print the summary statistics for each of the numeric variables

In [13]:
titanic.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

- print the unique values for each of your categorical variables

In [14]:
for col in titanic:
    if titanic.dtypes == 'object':
        print(f'{col}

SyntaxError: EOL while scanning string literal (3706443277.py, line 3)

In [ ]:
titanic.Embarked.value_counts(dropna= False)

## Download the previous exercise's file into an excel (File → Download → Microsoft Excel). Read the downloaded file into a dataframe named df_excel.

In [ ]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'    

csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

titanic = pd.read_xlsx(xlsx_export_url)
titanic

- assign the first 100 rows to a new dataframe, df_excel_sample

- print the number of rows of your original dataframe

- print the first 5 column names

- print the column names that have a data type of object

- compute the range for each of the numeric variables.

## Make a new python module, acquire.py to hold the following data aquisition functions:

- Make a function named get_titanic_data that returns the titanic data from the codeup data science database as a pandas data frame. Obtain your data from the Codeup Data Science Database.

In [ ]:
query = '''
SELECT * from passengers;
'''
url = get_connection('titanic_db')

df = pd.read_sql(query, url)

In [ ]:
df

- Make a function named get_iris_data that returns the data from the iris_db on the codeup data science database as a pandas data frame. The returned data frame should include the actual name of the species in addition to the species_ids. Obtain your data from the Codeup Data Science Database.

In [ ]:
query = '''
SELECT species_id, species_name from species;
'''
url = get_connection('iris_db')

df = pd.read_sql(query, url)

- Make a function named get_telco_data that returns the data from the telco_churn database in SQL. In your SQL, be sure to join contract_types, internet_service_types, payment_types tables with the customers table, so that the resulting dataframe contains all the contract, payment, and internet service options. Obtain your data from the Codeup Data Science Database.

In [ ]:
def new_telco_data():
    '''
    This function reads the telco data from the Codeup db into a df.
    '''
    sql_query = """
                select * from customers
                join contract_types using (contract_type_id)
                join internet_service_types using (internet_service_type_id)
                join payment_types using (payment_type_id)
                """
    
    # Read in DataFrame from Codeup db.
    df = pd.read_sql(sql_query, get_db_url('telco_churn'))
    
    return df

In [ ]:
def get_telco_data():
    '''
    This function reads in telco data from Codeup database, writes data to
    a csv file if a local file does not exist, and returns a df.
    '''
    if os.path.isfile('telco.csv'):
        
        # If csv file exists read in data from csv file.
        df = pd.read_csv('telco.csv', index_col=0)
        
    else:
        
        # Read fresh data from db into a DataFrame
        df = new_telco_data()
        
        # Cache data
        df.to_csv('telco.csv')
        
    return df

query = '''
SELECT contract_type, internet_service_type, payment_type FROM customer_payments
JOIN payment_types USING(payment_type_id)
JOIN customer_contracts USING(customer_id)
JOIN contract_types USING(contract_type_id)
JOIN customer_subscriptions USING(customer_id)
JOIN internet_service_types USING(internet_service_type_id);

'''
url = get_connection('telco_churn')

df = pd.read_sql(query, url)
df.head(51)

- Once you've got your get_titanic_data, get_iris_data, and get_telco_data functions written, now it's time to add caching to them. To do this, edit the beginning of the function to check for the local filename of telco.csv, titanic.csv, or iris.csv. If they exist, use the .csv file. If the file doesn't exist, then produce the SQL and pandas necessary to create a dataframe, then write the dataframe to a .csv file with the appropriate name.

---

# Using the Iris Data:

## Prepare: What to do?
- Make sure any column names are cleaned and legible
- Make sure any missing values are accounted for
- Make sure any data types in our set are correct
- Encode our categorical variables
- Make it repeatable

- Use the function defined in acquire.py to load the iris data.

In [77]:
iris = acquire.get_iris_data()
iris

,species_id,species_name,sepal_length,sepal_width,petal_length,petal_width
0,1,setosa,5.1,3.5,1.4,0.2
1,1,setosa,4.9,3.0,1.4,0.2
2,1,setosa,4.7,3.2,1.3,0.2
3,1,setosa,4.6,3.1,1.5,0.2
4,1,setosa,5.0,3.6,1.4,0.2
5,1,setosa,5.4,3.9,1.7,0.4
6,1,setosa,4.6,3.4,1.4,0.3
7,1,setosa,5.0,3.4,1.5,0.2
8,1,setosa,4.4,2.9,1.4,0.2
9,1,setosa,4.9,3.1,1.5,0.1
10,1,setosa,5.4,3.7,1.5,0.2
11,1,setosa,4.8,3.4,1.6,0.2
12,1,setosa,4.8,3.0,1.4,0.1
13,1,setosa,4.3,3.0,1.1,0.1
14,1,setosa,5.8,4.0,1.2,0.2
15,1,setosa,5.7,4.4,1.5,0.4
16,1,setosa,5.4,3.9,1.3,0.4
17,1,setosa,5.1,3.5,1.4,0.3
18,1,setosa,5.7,3.8,1.7,0.3
19,1,setosa,5.1,3.8,1.5,0.3
20,1,setosa,5.4,3.4,1.7,0.2
21,1,setosa,5.1,3.7,1.5,0.4
22,1,setosa,4.6,3.6,1.0,0.2
23,1,setosa,5.1,3.3,1.7,0.5
24,1,setosa,4.8,3.4,1.9,0.2
25,1,setosa,5.0,3.0,1.6,0.2
26,1,setosa,5.0,3.4,1.6,0.4
27,1,setosa,5.2,3.5,1.5,0.2
28,1,setosa,5.2,3.4,1.4,0.2
29,1,setosa,4.7,3.2,1.6,0.2
30,1,setosa,4.8,3.1,1.6,0.2
31,1,setosa,5.4,3.4,1.5,0.4
32,1,setosa,5.2,4.1,1.5,0.1
33,1,setosa,5.5,4.2,1.4,0.2
34,1,setosa,4.9,3.1,1.5,0.2
35,1,setosa,5.0,3.2,1.2,0.2
36,1,setosa,5.5,3.5,1.3,0.2
37,1,setosa,4.9,3.6,1.4,0.1
38,1,setosa,4.4,3.0,1.3,0.2
39,1,setosa,5.1,3.4,1.5,0.2
40,1,setosa,5.0,3.5,1.3,0.3
41,1,setosa,4.5,2.3,1.3,0.3
42,1,setosa,4.4,3.2,1.3,0.2
43,1,setosa,5.0,3.5,1.6,0.6
44,1,setosa,5.1,3.8,1.9,0.4
45,1,setosa,4.8,3.0,1.4,0.3
46,1,setosa,5.1,3.8,1.6,0.2
47,1,setosa,4.6,3.2,1.4,0.2
48,1,setosa,5.3,3.7,1.5,0.2
49,1,setosa,5.0,3.3,1.4,0.2
50,2,versicolor,7.0,3.2,4.7,1.4
51,2,versicolor,6.4,3.2,4.5,1.5
52,2,versicolor,6.9,3.1,4.9,1.5
53,2,versicolor,5.5,2.3,4.0,1.3
54,2,versicolor,6.5,2.8,4.6,1.5
55,2,versicolor,5.7,2.8,4.5,1.3
56,2,versicolor,6.3,3.3,4.7,1.6
57,2,versicolor,4.9,2.4,3.3,1.0
58,2,versicolor,6.6,2.9,4.6,1.3
59,2,versicolor,5.2,2.7,3.9,1.4
60,2,versicolor,5.0,2.0,3.5,1.0
61,2,versicolor,5.9,3.0,4.2,1.5
62,2,versicolor,6.0,2.2,4.0,1.0
63,2,versicolor,6.1,2.9,4.7,1.4
64,2,versicolor,5.6,2.9,3.6,1.3
65,2,versicolor,6.7,3.1,4.4,1.4
66,2,versicolor,5.6,3.0,4.5,1.5
67,2,versicolor,5.8,2.7,4.1,1.0
68,2,versicolor,6.2,2.2,4.5,1.5
69,2,versicolor,5.6,2.5,3.9,1.1
70,2,versicolor,5.9,3.2,4.8,1.8
71,2,versicolor,6.1,2.8,4.0,1.3
72,2,versicolor,6.3,2.5,4.9,1.5
73,2,versicolor,6.1,2.8,4.7,1.2
74,2,versicolor,6.4,2.9,4.3,1.3
75,2,versicolor,6.6,3.0,4.4,1.4
76,2,versicolor,6.8,2.8,4.8,1.4
77,2,versicolor,6.7,3.0,5.0,1.7
78,2,versicolor,6.0,2.9,4.5,1.5
79,2,versicolor,5.7,2.6,3.5,1.0
80,2,versicolor,5.5,2.4,3.8,1.1
81,2,versicolor,5.5,2.4,3.7,1.0
82,2,versicolor,5.8,2.7,3.9,1.2
83,2,versicolor,6.0,2.7,5.1,1.6
84,2,versicolor,5.4,3.0,4.5,1.5
85,2,versicolor,6.0,3.4,4.5,1.6
86,2,versicolor,6.7,3.1,4.7,1.5
87,2,versicolor,6.3,2.3,4.4,1.3
88,2,versicolor,5.6,3.0,4.1,1.3
89,2,versicolor,5.5,2.5,4.0,1.3
90,2,versicolor,5.5,2.6,4.4,1.2
91,2,versicolor,6.1,3.0,4.6,1.4
92,2,versicolor,5.8,2.6,4.0,1.2
93,2,versicolor,5.0,2.3,3.3,1.0
94,2,versicolor,5.6,2.7,4.2,1.3
95,2,versicolor,5.7,3.0,4.2,1.2
96,2,versicolor,5.7,2.9,4.2,1.3
97,2,versicolor,6.2,2.9,4.3,1.3
98,2,versicolor,5.1,2.5,3.0,1.1
99,2,versicolor,5.7,2.8,4.1,1.3
100,3,virginica,6.3,3.3,6.0,2.5
101,3,virginica,5.8,2.7,5.1,1.9
102,3,virginica,7.1,3.0,5.9,2.1
103,3,virginica,6.3,2.9,5.6,1.8
104,3,virginica,6.5,3.0,5.8,2.2
105,3,virginica,7.6,3.0,6.6,2.1
106,3,virginica,4.9,2.5,4.5,1.7
107,3,virginica,7.3,2.9,6.3,1.8
108,3,virginica,6.7,2.5,5.8,1.8
109,3,virginica,7.2,3.6,6.1,2.5
110,3,virginica,6.5,3.2,5.1,2.0
111,3,virginica,6.4,2.7,5.3,1.9
112,3,virginica,6.8,3.0,5.5,2.1
113,3,virginica,5.7,2.5,5.0,2.0
114,3,virginica,5.8,2.8,5.1,2.4
115,3,virginica,6.4,3.2,5.3,2.3
116,3,virginica,6.5,3.0,5.5,1.8
117,3,virginica,7.7,3.8,6.7,2.2
118,3,virginica,7.7,2.6,6.9,2.3
119,3,virginica,6.0,2.2,5.0,1.5
120,3,virginica,6.9,3.2,5.7,2.3
121,3,virginica,5.6,2.8,4.9,2.0
122,3,virginica,7.7,2.8,6.7,2.0
123,3,virginica,6.3,2.7,4.9,1.8
124,3,virginica,6.7,3.3,5.7,2.1
125,3,virginica,7.2,3.2,6.0,1.8
126,3,virginica,6.2,2.8,4.8,1.8
127,3,virginica,6.1,3.0,4.9,1.8
128,3,virginica,6.4,2.8,5.6,2.1
129,3,virginica,7.2,3.0,5.8,1.6
130,3,virginica,7.4,2.8,6.1,1.9
131,3,virginica,7.9,3.8,6.4,2.0
132,3,virginica,6.4,2.8,5.6,2.2
133,3,virginica,6.3,2.8,5.1,1.5
134,3,virginica,6.1,2.6,5.6,1.4
135,3,virginica,7.7,3.0,6.1,2.3
136,3,virginica,6.3,3.4,5.6,2.4
137,3,virginica,6.4,3.1,5.5,1.8
138,3,virginica,6.0,3.0,4.8,1.8
139,3,virginica,6.9,3.1,5.4,2.1
140,3,virginica,6.7,3.1,5.6,2.4
141,3,virginica,6.9,3.1,5.1,2.3
142,3,virginica,5.8,2.7,5.1,1.9
143,3,virginica,6.8,3.2,5.9,2.3
144,3,virginica,6.7,3.3,5.7,2.5
145,3,virginica,6.7,3.0,5.2,2.3
146,3,virginica,6.3,2.5,5.0,1.9
147,3,virginica,6.5,3.0,5.2,2.0
148,3,virginica,6.2,3.4,5.4,2.3
149,3,virginica,5.9,3.0,5.1,1.8

- Drop the species_id and measurement_id columns.

In [78]:
column_drops = ['species_id']
iris.drop(columns= column_drops, inplace= True)

- Rename the species_name column to just species.

In [79]:
iris = iris.rename(columns = {'species_name': 'species'})
iris

        species  sepal_length  sepal_width  petal_length  petal_width
0        setosa           5.1          3.5           1.4          0.2
1        setosa           4.9          3.0           1.4          0.2
2        setosa           4.7          3.2           1.3          0.2
3        setosa           4.6          3.1           1.5          0.2
4        setosa           5.0          3.6           1.4          0.2
5        setosa           5.4          3.9           1.7          0.4
6        setosa           4.6          3.4           1.4          0.3
7        setosa           5.0          3.4           1.5          0.2
8        setosa           4.4          2.9           1.4          0.2
9        setosa           4.9          3.1           1.5          0.1
10       setosa           5.4          3.7           1.5          0.2
11       setosa           4.8          3.4           1.6          0.2
12       setosa           4.8          3.0           1.4          0.1
13       setosa           4.3          3.0           1.1          0.1
14       setosa           5.8          4.0           1.2          0.2
15       setosa           5.7          4.4           1.5          0.4
16       setosa           5.4          3.9           1.3          0.4
17       setosa           5.1          3.5           1.4          0.3
18       setosa           5.7          3.8           1.7          0.3
19       setosa           5.1          3.8           1.5          0.3
20       setosa           5.4          3.4           1.7          0.2
21       setosa           5.1          3.7           1.5          0.4
22       setosa           4.6          3.6           1.0          0.2
23       setosa           5.1          3.3           1.7          0.5
24       setosa           4.8          3.4           1.9          0.2
25       setosa           5.0          3.0           1.6          0.2
26       setosa           5.0          3.4           1.6          0.4
27       setosa           5.2          3.5           1.5          0.2
28       setosa           5.2          3.4           1.4          0.2
29       setosa           4.7          3.2           1.6          0.2
30       setosa           4.8          3.1           1.6          0.2
31       setosa           5.4          3.4           1.5          0.4
32       setosa           5.2          4.1           1.5          0.1
33       setosa           5.5          4.2           1.4          0.2
34       setosa           4.9          3.1           1.5          0.2
35       setosa           5.0          3.2           1.2          0.2
36       setosa           5.5          3.5           1.3          0.2
37       setosa           4.9          3.6           1.4          0.1
38       setosa           4.4          3.0           1.3          0.2
39       setosa           5.1          3.4           1.5          0.2
40       setosa           5.0          3.5           1.3          0.3
41       setosa           4.5          2.3           1.3          0.3
42       setosa           4.4          3.2           1.3          0.2
43       setosa           5.0          3.5           1.6          0.6
44       setosa           5.1          3.8           1.9          0.4
45       setosa           4.8          3.0           1.4          0.3
46       setosa           5.1          3.8           1.6          0.2
47       setosa           4.6          3.2           1.4          0.2
48       setosa           5.3          3.7           1.5          0.2
49       setosa           5.0          3.3           1.4          0.2
50   versicolor           7.0          3.2           4.7          1.4
51   versicolor           6.4          3.2           4.5          1.5
52   versicolor           6.9          3.1           4.9          1.5
53   versicolor           5.5          2.3           4.0          1.3
54   versicolor           6.5          2.8           4.6          1.5
55   versicolor           5.7          2.8           4.5          1.3
56   versicolor           6.3          3.3           4.7          1.6
57   versicolor           4.9          2.4           3.3          1.0
58   versicolor           6.6          2.9           4.6          1.3
59   versicolor           5.2          2.7           3.9          1.4
60   versicolor           5.0          2.0           3.5          1.0
61   versicolor           5.9          3.0           4.2          1.5
62   versicolor           6.0          2.2           4.0          1.0
63   versicolor           6.1          2.9           4.7          1.4
64   versicolor           5.6          2.9           3.6          1.3
65   versicolor           6.7          3.1           4.4          1.4
66   versicolor           5.6          3.0           4.5          1.5
67   versicolor           5.8          2.7           4.1          1.0
68   versicolor           6.2          2.2           4.5          1.5
69   versicolor           5.6          2.5           3.9          1.1
70   versicolor           5.9          3.2           4.8          1.8
71   versicolor           6.1          2.8           4.0          1.3
72   versicolor           6.3          2.5           4.9          1.5
73   versicolor           6.1          2.8           4.7          1.2
74   versicolor           6.4          2.9           4.3          1.3
75   versicolor           6.6          3.0           4.4          1.4
76   versicolor           6.8          2.8           4.8          1.4
77   versicolor           6.7          3.0           5.0          1.7
78   versicolor           6.0          2.9           4.5          1.5
79   versicolor           5.7          2.6           3.5          1.0
80   versicolor           5.5          2.4           3.8          1.1
81   versicolor           5.5          2.4           3.7          1.0
82   versicolor           5.8          2.7           3.9          1.2
83   versicolor           6.0          2.7           5.1          1.6
84   versicolor           5.4          3.0           4.5          1.5
85   versicolor           6.0          3.4           4.5          1.6
86   versicolor           6.7          3.1           4.7          1.5
87   versicolor           6.3          2.3           4.4          1.3
88   versicolor           5.6          3.0           4.1          1.3
89   versicolor           5.5          2.5           4.0          1.3
90   versicolor           5.5          2.6           4.4          1.2
91   versicolor           6.1          3.0           4.6          1.4
92   versicolor           5.8          2.6           4.0          1.2
93   versicolor           5.0          2.3           3.3          1.0
94   versicolor           5.6          2.7           4.2          1.3
95   versicolor           5.7          3.0           4.2          1.2
96   versicolor           5.7          2.9           4.2          1.3
97   versicolor           6.2          2.9           4.3          1.3
98   versicolor           5.1          2.5           3.0          1.1
99   versicolor           5.7          2.8           4.1          1.3
100   virginica           6.3          3.3           6.0          2.5
101   virginica           5.8          2.7           5.1          1.9
102   virginica           7.1          3.0           5.9          2.1
103   virginica           6.3          2.9           5.6          1.8
104   virginica           6.5          3.0           5.8          2.2
105   virginica           7.6          3.0           6.6          2.1
106   virginica           4.9          2.5           4.5          1.7
107   virginica           7.3          2.9           6.3          1.8
108   virginica           6.7          2.5           5.8          1.8
109   virginica           7.2          3.6           6.1          2.5
110   virginica           6.5          3.2           5.1          2.0
111   virginica           6.4          2.7           5.3          1.9
112   virginica           6.8          3.0           5.5          2.1
113   virginica           5.7          2.5           5.0          2.0
114   virginica           5.8          2.8           5.1          2.4
115   virginica           6.4          3.2           5.3          2.3
116   virginica           6.5          3.0           5.5          1.8
117   virginica           7.7          3.8           6.7          2.2
118   virginica           7.7          2.6           6.9          2.3
119   virginica           6.0          2.2           5.0          1.5
120   virginica           6.9          3.2           5.7          2.3
121   virginica           5.6          2.8           4.9          2.0
122   virginica           7.7          2.8           6.7          2.0
123   virginica           6.3          2.7           4.9          1.8
124   virginica           6.7          3.3           5.7          2.1
125   virginica           7.2          3.2           6.0          1.8
126   virginica           6.2          2.8           4.8          1.8
127   virginica           6.1          3.0           4.9          1.8
128   virginica           6.4          2.8           5.6          2.1
129   virginica           7.2          3.0           5.8          1.6
130   virginica           7.4          2.8           6.1          1.9
131   virginica           7.9          3.8           6.4          2.0
132   virginica           6.4          2.8           5.6          2.2
133   virginica           6.3          2.8           5.1          1.5
134   virginica           6.1          2.6           5.6          1.4
135   virginica           7.7          3.0           6.1          2.3
136   virginica           6.3          3.4           5.6          2.4
137   virginica           6.4          3.1           5.5          1.8
138   virginica           6.0          3.0           4.8          1.8
139   virginica           6.9          3.1           5.4          2.1
140   virginica           6.7          3.1           5.6          2.4
141   virginica           6.9          3.1           5.1          2.3
142   virginica           5.8          2.7           5.1          1.9
143   virginica           6.8          3.2           5.9          2.3
144   virginica           6.7          3.3           5.7          2.5
145   virginica           6.7          3.0           5.2          2.3
146   virginica           6.3          2.5           5.0          1.9
147   virginica           6.5          3.0           5.2          2.0
148   virginica           6.2          3.4           5.4          2.3
149   virginica           5.9          3.0           5.1          1.8

- Create dummy variables of the species name and concatenate onto the iris dataframe. (This is for practice, we don't always have to encode the target, but if we used species as a feature, we would need to encode it).

In [80]:
dummy_df = pd.get_dummies(iris.species, drop_first=True)
dummy_df

     versicolor  virginica
0             0          0
1             0          0
2             0          0
3             0          0
4             0          0
5             0          0
6             0          0
7             0          0
8             0          0
9             0          0
10            0          0
11            0          0
12            0          0
13            0          0
14            0          0
15            0          0
16            0          0
17            0          0
18            0          0
19            0          0
20            0          0
21            0          0
22            0          0
23            0          0
24            0          0
25            0          0
26            0          0
27            0          0
28            0          0
29            0          0
30            0          0
31            0          0
32            0          0
33            0          0
34            0          0
35            0          0
36            0          0
37            0          0
38            0          0
39            0          0
40            0          0
41            0          0
42            0          0
43            0          0
44            0          0
45            0          0
46            0          0
47            0          0
48            0          0
49            0          0
50            1          0
51            1          0
52            1          0
53            1          0
54            1          0
55            1          0
56            1          0
57            1          0
58            1          0
59            1          0
60            1          0
61            1          0
62            1          0
63            1          0
64            1          0
65            1          0
66            1          0
67            1          0
68            1          0
69            1          0
70            1          0
71            1          0
72            1          0
73            1          0
74            1          0
75            1          0
76            1          0
77            1          0
78            1          0
79            1          0
80            1          0
81            1          0
82            1          0
83            1          0
84            1          0
85            1          0
86            1          0
87            1          0
88            1          0
89            1          0
90            1          0
91            1          0
92            1          0
93            1          0
94            1          0
95            1          0
96            1          0
97            1          0
98            1          0
99            1          0
100           0          1
101           0          1
102           0          1
103           0          1
104           0          1
105           0          1
106           0          1
107           0          1
108           0          1
109           0          1
110           0          1
111           0          1
112           0          1
113           0          1
114           0          1
115           0          1
116           0          1
117           0          1
118           0          1
119           0          1
120           0          1
121           0          1
122           0          1
123           0          1
124           0          1
125           0          1
126           0          1
127           0          1
128           0          1
129           0          1
130           0          1
131           0          1
132           0          1
133           0          1
134           0          1
135           0          1
136           0          1
137           0          1
138           0          1
139           0          1
140           0          1
141           0          1
142           0          1
143           0          1
144           0          1
145           0          1
146           0          1
147           0          1
148           0          1
149           0          1

In [81]:
iris = pd.concat([iris, dummy_df], axis = 1)

- Create a function named prep_iris that accepts the untransformed iris data, and returns the data with the transformations above applied.

In [8]:
def prep_iris(iris):
    column_drops = ['species_id']
    iris.drop(columns= column_drops, inplace= True) 
    
    iris = iris.rename(columns = {'species_name': 'species'})
    
    dummy_df = pd.get_dummies(iris.species, drop_first=True)
    iris = pd.concat([iris, dummy_df], axis = 1)
    return iris

In [7]:
prep_iris(acquire.get_iris_data())

,species,sepal_length,sepal_width,petal_length,petal_width,versicolor,virginica
0,setosa,5.1,3.5,1.4,0.2,0,0
1,setosa,4.9,3.0,1.4,0.2,0,0
2,setosa,4.7,3.2,1.3,0.2,0,0
3,setosa,4.6,3.1,1.5,0.2,0,0
4,setosa,5.0,3.6,1.4,0.2,0,0
...,...,...,...,...,...,...,...
145,virginica,6.7,3.0,5.2,2.3,0,1
146,virginica,6.3,2.5,5.0,1.9,0,1
147,virginica,6.5,3.0,5.2,2.0,0,1
148,virginica,6.2,3.4,5.4,2.3,0,1
149,virginica,5.9,3.0,5.1,1.8,0,1

## Using the Titanic dataset

- Use the function defined in acquire.py to load the Titanic data.

In [69]:
titanic = acquire.get_titanic_data()
titanic

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,0,2,male,27.0,0,0,13.0000,S,Second,NaN,Southampton,1
887,887,1,1,female,19.0,0,0,30.0000,S,First,B,Southampton,1
888,888,0,3,female,NaN,1,2,23.4500,S,Third,NaN,Southampton,0
889,889,1,1,male,26.0,0,0,30.0000,C,First,C,Cherbourg,1
890,890,0,3,male,32.0,0,0,7.7500,Q,Third,NaN,Queenstown,1

- Drop any unnecessary, unhelpful, or duplicated columns.

In [70]:
titanic.info()
# 'deck' as a lot of missing values
# 'sex' and

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   passenger_id  891 non-null    int64
 1   survived      891 non-null    int64
 2   pclass        891 non-null    int64
 3   sex           891 non-null    object
 4   age           714 non-null    float64
 5   sibsp         891 non-null    int64
 6   parch         891 non-null    int64
 7   fare          891 non-null    float64
 8   embarked      889 non-null    object
 9   class         891 non-null    object
 10  deck          203 non-null    object
 11  embark_town   889 non-null    object
 12  alone         891 non-null    int64
dtypes: float64(2), int64(6), object(5)
memory usage: 97.5+ KB

In [71]:
column_drops = ['embarked', 'class', 'passenger_id', 'deck']
titanic.drop(columns= column_drops, inplace= True)
titanic

     survived  pclass     sex   age  sibsp  parch     fare  embark_town  alone
0           0       3    male  22.0      1      0   7.2500  Southampton      0
1           1       1  female  38.0      1      0  71.2833    Cherbourg      0
2           1       3  female  26.0      0      0   7.9250  Southampton      1
3           1       1  female  35.0      1      0  53.1000  Southampton      0
4           0       3    male  35.0      0      0   8.0500  Southampton      1
..        ...     ...     ...   ...    ...    ...      ...          ...    ...
886         0       2    male  27.0      0      0  13.0000  Southampton      1
887         1       1  female  19.0      0      0  30.0000  Southampton      1
888         0       3  female   NaN      1      2  23.4500  Southampton      0
889         1       1    male  26.0      0      0  30.0000    Cherbourg      1
890         0       3    male  32.0      0      0   7.7500   Queenstown      1

[891 rows x 9 columns]

- Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

In [75]:

dummy = pd.get_dummies(titanic[['embark_town', 'sex']], drop_first= True)

In [76]:
titanic = pd.concat([titanic, dummy], axis=1)

- Create a function named prep_titanic that accepts the raw titanic data, and returns the data with the transformations above applied.

In [84]:
def prep_titanic(titanic):
    column_drops = ['embarked', 'class', 'passenger_id', 'deck']
    titanic.drop(columns= column_drops, inplace= True)
    
    titanic.dropna()  # drops any rows with nulls
    dummy = pd.get_dummies(titanic[['embark_town', 'sex']], drop_first= True)
    titanic = pd.concat([titanic, dummy], axis=1)
    return titanic

# # Using the Telco dataset

- Use the function defined in acquire.py to load the Telco data.

In [86]:
telco = acquire.get_telco_data()
telco

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,2,1,2,0002-ORFBO,Female,0,Yes,Yes,9,Yes,...,Yes,Yes,No,Yes,65.60,593.3,No,One year,DSL,Mailed check
1,2,1,1,0003-MKNFE,Male,0,No,No,9,Yes,...,No,No,Yes,No,59.90,542.4,No,Month-to-month,DSL,Mailed check
2,1,2,1,0004-TLHLJ,Male,0,No,No,4,Yes,...,No,No,No,Yes,73.90,280.85,Yes,Month-to-month,Fiber optic,Electronic check
3,1,2,1,0011-IGKFF,Male,1,Yes,No,13,Yes,...,No,Yes,Yes,Yes,98.00,1237.85,Yes,Month-to-month,Fiber optic,Electronic check
4,2,2,1,0013-EXCHZ,Female,1,Yes,No,3,Yes,...,Yes,Yes,No,Yes,83.90,267.4,Yes,Month-to-month,Fiber optic,Mailed check
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,2,1,2,9987-LUTYD,Female,0,No,No,13,Yes,...,Yes,No,No,No,55.15,742.9,No,One year,DSL,Mailed check
7039,1,2,1,9992-RRAMN,Male,0,Yes,No,22,Yes,...,No,No,Yes,Yes,85.10,1873.7,Yes,Month-to-month,Fiber optic,Electronic check
7040,2,1,1,9992-UJOEL,Male,0,No,No,2,Yes,...,No,No,No,Yes,50.30,92.75,No,Month-to-month,DSL,Mailed check
7041,2,1,3,9993-LHIEB,Male,0,Yes,Yes,67,Yes,...,Yes,No,Yes,No,67.85,4627.65,No,Two year,DSL,Mailed check
7042,1,1,3,9995-HOTOH,Male,0,Yes,Yes,63,No,...,No,Yes,Yes,No,59.00,3707.6,No,Two year,DSL,Electronic check

In [88]:
telco.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7043 entries, 0 to 7042
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   payment_type_id           7043 non-null   int64
 1   internet_service_type_id  7043 non-null   int64
 2   contract_type_id          7043 non-null   int64
 3   customer_id               7043 non-null   object
 4   gender                    7043 non-null   object
 5   senior_citizen            7043 non-null   int64
 6   partner                   7043 non-null   object
 7   dependents                7043 non-null   object
 8   tenure                    7043 non-null   int64
 9   phone_service             7043 non-null   object
 10  multiple_lines            7043 non-null   object
 11  online_security           7043 non-null   object
 12  online_backup             7043 non-null   object
 13  device_protection         7043 non-null   object
 14  tech_support              7043 non-null   object
 15  streaming_tv              7043 non-null   object
 16  streaming_movies          7043 non-null   object
 17  paperless_billing         7043 non-null   object
 18  monthly_charges           7043 non-null   float64
 19  total_charges             7043 non-null   object
 20  churn                     7043 non-null   object
 21  contract_type             7043 non-null   object
 22  internet_service_type     7043 non-null   object
 23  payment_type              7043 non-null   object
dtypes: float64(1), int64(5), object(18)
memory usage: 1.3+ MB

- Drop any unnecessary, unhelpful, or duplicated columns. This could mean dropping foreign key columns but keeping the corresponding string values, for example.

In [22]:
column_drops = ['payment_type_id', 'internet_service_type_id', 'contract_type_id', 'partner', 'paperless_billing']
df.drop(columns= column_drops, inplace= True)
df

,customer_id,gender,senior_citizen,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,0002-ORFBO,Female,0,Yes,9,Yes,No,No,Yes,No,Yes,Yes,No,65.60,593.3,No,One year,DSL,Mailed check
1,0003-MKNFE,Male,0,No,9,Yes,Yes,No,No,No,No,No,Yes,59.90,542.4,No,Month-to-month,DSL,Mailed check
2,0004-TLHLJ,Male,0,No,4,Yes,No,No,No,Yes,No,No,No,73.90,280.85,Yes,Month-to-month,Fiber optic,Electronic check
3,0011-IGKFF,Male,1,No,13,Yes,No,No,Yes,Yes,No,Yes,Yes,98.00,1237.85,Yes,Month-to-month,Fiber optic,Electronic check
4,0013-EXCHZ,Female,1,No,3,Yes,No,No,No,No,Yes,Yes,No,83.90,267.4,Yes,Month-to-month,Fiber optic,Mailed check
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,9987-LUTYD,Female,0,No,13,Yes,No,Yes,No,No,Yes,No,No,55.15,742.9,No,One year,DSL,Mailed check
7039,9992-RRAMN,Male,0,No,22,Yes,Yes,No,No,No,No,No,Yes,85.10,1873.7,Yes,Month-to-month,Fiber optic,Electronic check
7040,9992-UJOEL,Male,0,No,2,Yes,No,No,Yes,No,No,No,No,50.30,92.75,No,Month-to-month,DSL,Mailed check
7041,9993-LHIEB,Male,0,Yes,67,Yes,No,Yes,No,Yes,Yes,No,Yes,67.85,4627.65,No,Two year,DSL,Mailed check
7042,9995-HOTOH,Male,0,Yes,63,No,No phone service,Yes,Yes,Yes,No,Yes,Yes,59.00,3707.6,No,Two year,DSL,Electronic check

In [ ]:
telco.total_charges.value_counts()
# blank value can be because its the people who just started their membership and have not paid yet

In [89]:
float('' + '0')

           11
20.2       11
19.75       9
19.9        8
20.05       8
           ..
2387.75     1
6302.8      1
2058.5      1
829.55      1
3707.6      1
Name: total_charges, Length: 6531, dtype: int64

In [90]:
telco['total_charges']= (telco.total_charges + '0').astype('float')

- Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

In [91]:
categorical_columns = []
bin_cats = []
mult_cats = []
numerical_columns = []
for col in telco.columns:
    if telco[col].dtype == 'object':
        categorical_columns.append(col)
        if telco(col).value.counts().size > 2:
    else:
            
            
    if:
        numerical_columns.append(col)

IndentationError: expected an indented block (3917006779.py, line 9)

In [ ]:
mult_cats.remove('customer_id')

In [ ]:
telco['gender'] = telco['gender'].map({'Male': 0, 'Female:' 1})
telco['partner'] = telco['partner'].map({'No': 0, 'Yes:' 1})
telco['dependents'] = telco['dependents'].map({'No': 0, 'Yes:' 1})
telco['phone_service'] = telco['phone_service'].map({'No': 0, 'Yes': 1})
telco['paperless_billing'] = telco['paperless_billing'].map({'No': 0, 'Yes': 1})

In [ ]:
telco = pd.concat([ telco, pd.dummy_df(telco[mult_cats])], axis=1)

- Create a function named prep_telco that accepts the raw telco data, and returns the data with the transformations above applied.

In [ ]:
def prep_telco():

## Write a function to split your data into train, test and validate datasets. Add this function to prepare.py.

- Run the function in your notebook on the Iris dataset, returning 3 datasets, train_iris, validate_iris and test_iris.

- Run the function on the Titanic dataset, returning 3 datasets, train_titanic, validate_titanic and test_titanic.

- Run the function on the Telco dataset, returning 3 datasets, train_telco, validate_telco and test_telco.

## Section 1 - iris_db: Using iris data from our mySQL server and the methods used in the lesson above:

- Acquire, prepare & split your data.

In [4]:
iris = acquire.get_iris_data()
iris

,species_id,species_name,sepal_length,sepal_width,petal_length,petal_width
0,1,setosa,5.1,3.5,1.4,0.2
1,1,setosa,4.9,3.0,1.4,0.2
2,1,setosa,4.7,3.2,1.3,0.2
3,1,setosa,4.6,3.1,1.5,0.2
4,1,setosa,5.0,3.6,1.4,0.2
...,...,...,...,...,...,...
145,3,virginica,6.7,3.0,5.2,2.3
146,3,virginica,6.3,2.5,5.0,1.9
147,3,virginica,6.5,3.0,5.2,2.0
148,3,virginica,6.2,3.4,5.4,2.3
149,3,virginica,5.9,3.0,5.1,1.8

In [9]:
prep_iris(iris)

,species,sepal_length,sepal_width,petal_length,petal_width,versicolor,virginica
0,setosa,5.1,3.5,1.4,0.2,0,0
1,setosa,4.9,3.0,1.4,0.2,0,0
2,setosa,4.7,3.2,1.3,0.2,0,0
3,setosa,4.6,3.1,1.5,0.2,0,0
4,setosa,5.0,3.6,1.4,0.2,0,0
...,...,...,...,...,...,...,...
145,virginica,6.7,3.0,5.2,2.3,0,1
146,virginica,6.3,2.5,5.0,1.9,0,1
147,virginica,6.5,3.0,5.2,2.0,0,1
148,virginica,6.2,3.4,5.4,2.3,0,1
149,virginica,5.9,3.0,5.1,1.8,0,1

- Univariate Stats

- For each measurement type (quantitative variable): create a histogram, boxplot, & compute descriptive statistics (using .describe()).

- For each species (categorical variable): create a frequency table and a bar plot of those frequencies.

- Document takeaways & any actions.

- Bivariate Stats

- Visualize each measurement type (y-axis) with the species variable (x-axis) using barplots, adding a horizontal line showing the overall mean of the metric (y-axis).

- For each measurement type, compute the descriptive statistics for each species.

- For virginica & versicolor: Compare the mean petal_width using the Mann-Whitney test (scipy.stats.mannwhitneyu) to see if there is a significant difference between the two groups. Do the same for the other measurement types.

- Document takeaways & any actions.