In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
# import splitting and imputing functions
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

# turn off pink boxes for demo
import warnings
warnings.filterwarnings("ignore")

# import our own acquire module
import acquire
import prepare 

from pydataset import data

## In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

In [2]:
df_iris = data('iris')

- print the first 3 rows

In [3]:
df_iris.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

- print the number of rows and columns (shape)

In [4]:
df_iris.shape

(150, 5)

- print the column names

In [5]:
df_iris.columns

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

- print the data type of each column

In [6]:
df_iris.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 1 to 150
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal.Length  150 non-null    float64
 1   Sepal.Width   150 non-null    float64
 2   Petal.Length  150 non-null    float64
 3   Petal.Width   150 non-null    float64
 4   Species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 7.0+ KB

- print the summary statistics for each of the numeric variables

In [7]:
df_iris.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

## Read the data from this google sheet into a dataframe, df_google.

In [8]:
sheet_url= 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'

csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

df_google = pd.read_csv(csv_export_url)

titanic= df_google
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

- print the first 3 rows

In [9]:
titanic.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

-  print the number of rows and columns

In [10]:
titanic.shape

(891, 12)

- print the column names

In [11]:
titanic.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

- print the data type of each column

In [12]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

- print the summary statistics for each of the numeric variables

In [13]:
titanic.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

- print the unique values for each of your categorical variables

In [14]:
titanic.Embarked.value_counts(dropna= False)

S      644
C      168
Q       77
NaN      2
Name: Embarked, dtype: int64

## Download the previous exercise's file into an excel (File → Download → Microsoft Excel). Read the downloaded file into a dataframe named df_excel.

In [15]:
excel=pd.read_excel('train.xlsx')
excel

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

- assign the first 100 rows to a new dataframe, df_excel_sample

In [16]:
df_excel=excel.head(100)
df_excel

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.00,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.00,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.00,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.00,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.00,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.00,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.00,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.00,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.00,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.00,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.00,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.00,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.00,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.00,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.00,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.00,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)",female,31.00,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.00,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.00,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.00,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.00,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.00,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)",female,38.00,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.00,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
30,31,0,1,"Uruchurtu, Don. Manuel E",male,40.00,0,0,PC 17601,27.7208,NaN,C
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C
32,33,1,3,"Glynn, Miss. Mary Agatha",female,NaN,0,0,335677,7.7500,NaN,Q
33,34,0,2,"Wheadon, Mr. Edward H",male,66.00,0,0,C.A. 24579,10.5000,NaN,S
34,35,0,1,"Meyer, Mr. Edgar Joseph",male,28.00,1,0,PC 17604,82.1708,NaN,C
35,36,0,1,"Holverson, Mr. Alexander Oskar",male,42.00,1,0,113789,52.0000,NaN,S
36,37,1,3,"Mamee, Mr. Hanna",male,NaN,0,0,2677,7.2292,NaN,C
37,38,0,3,"Cann, Mr. Ernest Charles",male,21.00,0,0,A./5. 2152,8.0500,NaN,S
38,39,0,3,"Vander Planke, Miss. Augusta Maria",female,18.00,2,0,345764,18.0000,NaN,S
39,40,1,3,"Nicola-Yarred, Miss. Jamila",female,14.00,1,0,2651,11.2417,NaN,C
40,41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.00,1,0,7546,9.4750,NaN,S
41,42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)",female,27.00,1,0,11668,21.0000,NaN,S
42,43,0,3,"Kraeff, Mr. Theodor",male,NaN,0,0,349253,7.8958,NaN,C
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.00,1,2,SC/Paris 2123,41.5792,NaN,C
44,45,1,3,"Devaney, Miss. Margaret Delia",female,19.00,0,0,330958,7.8792,NaN,Q
45,46,0,3,"Rogers, Mr. William John",male,NaN,0,0,S.C./A.4. 23567,8.0500,NaN,S
46,47,0,3,"Lennon, Mr. Denis",male,NaN,1,0,370371,15.5000,NaN,Q
47,48,1,3,"O'Driscoll, Miss. Bridget",female,NaN,0,0,14311,7.7500,NaN,Q
48,49,0,3,"Samaan, Mr. Youssef",male,NaN,2,0,2662,21.6792,NaN,C
49,50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.00,1,0,349237,17.8000,NaN,S
50,51,0,3,"Panula, Master. Juha Niilo",male,7.00,4,1,3101295,39.6875,NaN,S
51,52,0,3,"Nosworthy, Mr. Richard Cater",male,21.00,0,0,A/4. 39886,7.8000,NaN,S
52,53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.00,1,0,PC 17572,76.7292,D33,C
53,54,1,2,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)",female,29.00,1,0,2926,26.0000,NaN,S
54,55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65.00,0,1,113509,61.9792,B30,C
55,56,1,1,"Woolner, Mr. Hugh",male,NaN,0,0,19947,35.5000,C52,S
56,57,1,2,"Rugg, Miss. Emily",female,21.00,0,0,C.A. 31026,10.5000,NaN,S
57,58,0,3,"Novel, Mr. Mansouer",male,28.50,0,0,2697,7.2292,NaN,C
58,59,1,2,"West, Miss. Constance Mirium",female,5.00,1,2,C.A. 34651,27.7500,NaN,S
59,60,0,3,"Goodwin, Master. William Frederick",male,11.00,5,2,CA 2144,46.9000,NaN,S
60,61,0,3,"Sirayanian, Mr. Orsen",male,22.00,0,0,2669,7.2292,NaN,C
61,62,1,1,"Icard, Miss. Amelie",female,38.00,0,0,113572,80.0000,B28,NaN
62,63,0,1,"Harris, Mr. Henry Birkhardt",male,45.00,1,0,36973,83.4750,C83,S
63,64,0,3,"Skoog, Master. Harald",male,4.00,3,2,347088,27.9000,NaN,S
64,65,0,1,"Stewart, Mr. Albert A",male,NaN,0,0,PC 17605,27.7208,NaN,C
65,66,1,3,"Moubarek, Master. Gerios",male,NaN,1,1,2661,15.2458,NaN,C
66,67,1,2,"Nye, Mrs. (Elizabeth Ramell)",female,29.00,0,0,C.A. 29395,10.5000,F33,S
67,68,0,3,"Crease, Mr. Ernest James",male,19.00,0,0,S.P. 3464,8.1583,NaN,S
68,69,1,3,"Andersson, Miss. Erna Alexandra",female,17.00,4,2,3101281,7.9250,NaN,S
69,70,0,3,"Kink, Mr. Vincenz",male,26.00,2,0,315151,8.6625,NaN,S
70,71,0,2,"Jenkin, Mr. Stephen Curnow",male,32.00,0,0,C.A. 33111,10.5000,NaN,S
71,72,0,3,"Goodwin, Miss. Lillian Amy",female,16.00,5,2,CA 2144,46.9000,NaN,S
72,73,0,2,"Hood, Mr. Ambrose Jr",male,21.00,0,0,S.O.C. 14879,73.5000,NaN,S
73,74,0,3,"Chronopoulos, Mr. Apostolos",male,26.00,1,0,2680,14.4542,NaN,C
74,75,1,3,"Bing, Mr. Lee",male,32.00,0,0,1601,56.4958,NaN,S
75,76,0,3,"Moen, Mr. Sigurd Hansen",male,25.00,0,0,348123,7.6500,F G73,S
76,77,0,3,"Staneff, Mr. Ivan",male,NaN,0,0,349208,7.8958,NaN,S
77,78,0,3,"Moutal, Mr. Rahamin Haim",male,NaN,0,0,374746,8.0500,NaN,S
78,79,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0000,NaN,S
79,80,1,3,"Dowdell, Miss. Elizabeth",female,30.00,0,0,364516,12.4750,NaN,S
80,81,0,3,"Waelens, Mr. Achille",male,22.00,0,0,345767,9.0000,NaN,S
81,82,1,3,"Sheerlinck, Mr. Jan Baptist",male,29.00,0,0,345779,9.5000,NaN,S
82,83,1,3,"McDermott, Miss. Brigdet Delia",female,NaN,0,0,330932,7.7875,NaN,Q
83,84,0,1,"Carrau, Mr. Francisco M",male,28.00,0,0,113059,47.1000,NaN,S
84,85,1,2,"Ilett, Miss. Bertha",female,17.00,0,0,SO/C 14885,10.5000,NaN,S
85,86,1,3,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)",female,33.00,3,0,3101278,15.8500,NaN,S
86,87,0,3,"Ford, Mr. William Neal",male,16.00,1,3,W./C. 6608,34.3750,NaN,S
87,88,0,3,"Slocovski, Mr. Selman Francis",male,NaN,0,0,SOTON/OQ 392086,8.0500,NaN,S
88,89,1,1,"Fortune, Miss. Mabel Helen",female,23.00,3,2,19950,263.0000,C23 C25 C27,S
89,90,0,3,"Celotti, Mr. Francesco",male,24.00,0,0,343275,8.0500,NaN,S
90,91,0,3,"Christmann, Mr. Emil",male,29.00,0,0,343276,8.0500,NaN,S
91,92,0,3,"Andreasson, Mr. Paul Edvin",male,20.00,0,0,347466,7.8542,NaN,S
92,93,0,1,"Chaffee, Mr. Herbert Fuller",male,46.00,1,0,W.E.P. 5734,61.1750,E31,S
93,94,0,3,"Dean, Mr. Bertram Frank",male,26.00,1,2,C.A. 2315,20.5750,NaN,S
94,95,0,3,"Coxon, Mr. Daniel",male,59.00,0,0,364500,7.2500,NaN,S
95,96,0,3,"Shorney, Mr. Charles Joseph",male,NaN,0,0,374910,8.0500,NaN,S
96,97,0,1,"Goldschmidt, Mr. George B",male,71.00,0,0,PC 17754,34.6542,A5,C
97,98,1,1,"Greenfield, Mr. William Bertram",male,23.00,0,1,PC 17759,63.3583,D10 D12,C
98,99,1,2,"Doling, Mrs. John T (Ada Julia Bone)",female,34.00,0,1,231919,23.0000,NaN,S
99,100,0,2,"Kantor, Mr. Sinai",male,34.00,1,0,244367,26.0000,NaN,S

- print the number of rows of your original dataframe

In [17]:
df_excel.shape

(100, 12)

- print the first 5 column names

In [18]:
df_excel.iloc[:,:5]

,PassengerId,Survived,Pclass,Name,Sex
0,1,0,3,"Braund, Mr. Owen Harris",male
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female
2,3,1,3,"Heikkinen, Miss. Laina",female
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female
4,5,0,3,"Allen, Mr. William Henry",male
5,6,0,3,"Moran, Mr. James",male
6,7,0,1,"McCarthy, Mr. Timothy J",male
7,8,0,3,"Palsson, Master. Gosta Leonard",male
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female
11,12,1,1,"Bonnell, Miss. Elizabeth",female
12,13,0,3,"Saundercock, Mr. William Henry",male
13,14,0,3,"Andersson, Mr. Anders Johan",male
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female
16,17,0,3,"Rice, Master. Eugene",male
17,18,1,2,"Williams, Mr. Charles Eugene",male
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)",female
19,20,1,3,"Masselmani, Mrs. Fatima",female
20,21,0,2,"Fynney, Mr. Joseph J",male
21,22,1,2,"Beesley, Mr. Lawrence",male
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female
23,24,1,1,"Sloper, Mr. William Thompson",male
24,25,0,3,"Palsson, Miss. Torborg Danira",female
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)",female
26,27,0,3,"Emir, Mr. Farred Chehab",male
27,28,0,1,"Fortune, Mr. Charles Alexander",male
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female
29,30,0,3,"Todoroff, Mr. Lalio",male
30,31,0,1,"Uruchurtu, Don. Manuel E",male
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female
32,33,1,3,"Glynn, Miss. Mary Agatha",female
33,34,0,2,"Wheadon, Mr. Edward H",male
34,35,0,1,"Meyer, Mr. Edgar Joseph",male
35,36,0,1,"Holverson, Mr. Alexander Oskar",male
36,37,1,3,"Mamee, Mr. Hanna",male
37,38,0,3,"Cann, Mr. Ernest Charles",male
38,39,0,3,"Vander Planke, Miss. Augusta Maria",female
39,40,1,3,"Nicola-Yarred, Miss. Jamila",female
40,41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female
41,42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)",female
42,43,0,3,"Kraeff, Mr. Theodor",male
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female
44,45,1,3,"Devaney, Miss. Margaret Delia",female
45,46,0,3,"Rogers, Mr. William John",male
46,47,0,3,"Lennon, Mr. Denis",male
47,48,1,3,"O'Driscoll, Miss. Bridget",female
48,49,0,3,"Samaan, Mr. Youssef",male
49,50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female
50,51,0,3,"Panula, Master. Juha Niilo",male
51,52,0,3,"Nosworthy, Mr. Richard Cater",male
52,53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female
53,54,1,2,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)",female
54,55,0,1,"Ostby, Mr. Engelhart Cornelius",male
55,56,1,1,"Woolner, Mr. Hugh",male
56,57,1,2,"Rugg, Miss. Emily",female
57,58,0,3,"Novel, Mr. Mansouer",male
58,59,1,2,"West, Miss. Constance Mirium",female
59,60,0,3,"Goodwin, Master. William Frederick",male
60,61,0,3,"Sirayanian, Mr. Orsen",male
61,62,1,1,"Icard, Miss. Amelie",female
62,63,0,1,"Harris, Mr. Henry Birkhardt",male
63,64,0,3,"Skoog, Master. Harald",male
64,65,0,1,"Stewart, Mr. Albert A",male
65,66,1,3,"Moubarek, Master. Gerios",male
66,67,1,2,"Nye, Mrs. (Elizabeth Ramell)",female
67,68,0,3,"Crease, Mr. Ernest James",male
68,69,1,3,"Andersson, Miss. Erna Alexandra",female
69,70,0,3,"Kink, Mr. Vincenz",male
70,71,0,2,"Jenkin, Mr. Stephen Curnow",male
71,72,0,3,"Goodwin, Miss. Lillian Amy",female
72,73,0,2,"Hood, Mr. Ambrose Jr",male
73,74,0,3,"Chronopoulos, Mr. Apostolos",male
74,75,1,3,"Bing, Mr. Lee",male
75,76,0,3,"Moen, Mr. Sigurd Hansen",male
76,77,0,3,"Staneff, Mr. Ivan",male
77,78,0,3,"Moutal, Mr. Rahamin Haim",male
78,79,1,2,"Caldwell, Master. Alden Gates",male
79,80,1,3,"Dowdell, Miss. Elizabeth",female
80,81,0,3,"Waelens, Mr. Achille",male
81,82,1,3,"Sheerlinck, Mr. Jan Baptist",male
82,83,1,3,"McDermott, Miss. Brigdet Delia",female
83,84,0,1,"Carrau, Mr. Francisco M",male
84,85,1,2,"Ilett, Miss. Bertha",female
85,86,1,3,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)",female
86,87,0,3,"Ford, Mr. William Neal",male
87,88,0,3,"Slocovski, Mr. Selman Francis",male
88,89,1,1,"Fortune, Miss. Mabel Helen",female
89,90,0,3,"Celotti, Mr. Francesco",male
90,91,0,3,"Christmann, Mr. Emil",male
91,92,0,3,"Andreasson, Mr. Paul Edvin",male
92,93,0,1,"Chaffee, Mr. Herbert Fuller",male
93,94,0,3,"Dean, Mr. Bertram Frank",male
94,95,0,3,"Coxon, Mr. Daniel",male
95,96,0,3,"Shorney, Mr. Charles Joseph",male
96,97,0,1,"Goldschmidt, Mr. George B",male
97,98,1,1,"Greenfield, Mr. William Bertram",male
98,99,1,2,"Doling, Mrs. John T (Ada Julia Bone)",female
99,100,0,2,"Kantor, Mr. Sinai",male

- print the column names that have a data type of object

In [19]:
df_excel.dtypes[df_excel.dtypes == object]

Name        object
Sex         object
Ticket      object
Cabin       object
Embarked    object
dtype: object

- compute the range for each of the numeric variables.

In [20]:
df_excel.describe

<bound method NDFrame.describe of     PassengerId  Survived  Pclass  \
0             1         0       3
1             2         1       1
2             3         1       3
3             4         1       1
4             5         0       3
5             6         0       3
6             7         0       1
7             8         0       3
8             9         1       3
9            10         1       2
10           11         1       3
11           12         1       1
12           13         0       3
13           14         0       3
14           15         0       3
15           16         1       2
16           17         0       3
17           18         1       2
18           19         0       3
19           20         1       3
20           21         0       2
21           22         1       2
22           23         1       3
23           24         1       1
24           25         0       3
25           26         1       3
26           27         0       3
27           28         0       1
28           29         1       3
29           30         0       3
30           31         0       1
31           32         1       1
32           33         1       3
33           34         0       2
34           35         0       1
35           36         0       1
36           37         1       3
37           38         0       3
38           39         0       3
39           40         1       3
40           41         0       3
41           42         0       2
42           43         0       3
43           44         1       2
44           45         1       3
45           46         0       3
46           47         0       3
47           48         1       3
48           49         0       3
49           50         0       3
50           51         0       3
51           52         0       3
52           53         1       1
53           54         1       2
54           55         0       1
55           56         1       1
56           57         1       2
57           58         0       3
58           59         1       2
59           60         0       3
60           61         0       3
61           62         1       1
62           63         0       1
63           64         0       3
64           65         0       1
65           66         1       3
66           67         1       2
67           68         0       3
68           69         1       3
69           70         0       3
70           71         0       2
71           72         0       3
72           73         0       2
73           74         0       3
74           75         1       3
75           76         0       3
76           77         0       3
77           78         0       3
78           79         1       2
79           80         1       3
80           81         0       3
81           82         1       3
82           83         1       3
83           84         0       1
84           85         1       2
85           86         1       3
86           87         0       3
87           88         0       3
88           89         1       1
89           90         0       3
90           91         0       3
91           92         0       3
92           93         0       1
93           94         0       3
94           95         0       3
95           96         0       3
96           97         0       1
97           98         1       1
98           99         1       2
99          100         0       2

                                                         Name     Sex    Age  \
0                                     Braund, Mr. Owen Harris    male  22.00
1         Cumings, Mrs. John Bradley (Florence Briggs Thayer)  female  38.00
2                                      Heikkinen, Miss. Laina  female  26.00
3                Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.00
4                                    Allen, Mr. William Henry    male  35.00
5                                            Moran, Mr. James    male    NaN
6                                     McCarthy, Mr. Timothy J    male  54.00
7                              Palsson, Master. Gosta Leonard    male   2.00
8           Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.00
9                         Nasser, Mrs. Nicholas (Adele Achem)  female  14.00
10                            Sandstrom, Miss. Marguerite Rut  female   4.00
11                                   Bonnell, Miss. Elizabeth  female  58.00
12                             Saundercock, Mr. William Henry    male  20.00
13                                Andersson, Mr. Anders Johan    male  39.00
14                       Vestrom, Miss. Hulda Amanda Adolfina  female  14.00
15                           Hewlett, Mrs. (Mary D Kingcome)   female  55.00
16                                       Rice, Master. Eugene    male   2.00
17                               Williams, Mr. Charles Eugene    male    NaN
18    Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)  female  31.00
19                                    Masselmani, Mrs. Fatima  female    NaN
20                                       Fynney, Mr. Joseph J    male  35.00
21                                      Beesley, Mr. Lawrence    male  34.00
22                                McGowan, Miss. Anna "Annie"  female  15.00
23                               Sloper, Mr. William Thompson    male  28.00
24                              Palsson, Miss. Torborg Danira  female   8.00
25  Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)  female  38.00
26                                    Emir, Mr. Farred Chehab    male    NaN
27                             Fortune, Mr. Charles Alexander    male  19.00
28                              O'Dwyer, Miss. Ellen "Nellie"  female    NaN
29                                        Todoroff, Mr. Lalio    male    NaN
30                                   Uruchurtu, Don. Manuel E    male  40.00
31             Spencer, Mrs. William Augustus (Marie Eugenie)  female    NaN
32                                   Glynn, Miss. Mary Agatha  female    NaN
33                                      Wheadon, Mr. Edward H    male  66.00
34                                    Meyer, Mr. Edgar Joseph    male  28.00
35                             Holverson, Mr. Alexander Oskar    male  42.00
36                                           Mamee, Mr. Hanna    male    NaN
37                                   Cann, Mr. Ernest Charles    male  21.00
38                         Vander Planke, Miss. Augusta Maria  female  18.00
39                                Nicola-Yarred, Miss. Jamila  female  14.00
40             Ahlin, Mrs. Johan (Johanna Persdotter Larsson)  female  40.00
41   Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)  female  27.00
42                                        Kraeff, Mr. Theodor    male    NaN
43                   Laroche, Miss. Simonne Marie Anne Andree  female   3.00
44                              Devaney, Miss. Margaret Delia  female  19.00
45                                   Rogers, Mr. William John    male    NaN
46                                          Lennon, Mr. Denis    male    NaN
47                                  O'Driscoll, Miss. Bridget  female    NaN
48                                        Samaan, Mr. Youssef    male    NaN
49              Arnold-Franchi, Mrs. Josef (Josefine Franchi)  female  18.00
50                                 Panula, Master. Juha Niilo    male   7.00
51                               Nosworthy, Mr. Richard Cater    male  21.00
52                   Harper, Mrs. Henry Sleeper (Myna Haxtun)  female  49.00
53         Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)  female  29.00
54                             Ostby, Mr. Engelhart Cornelius    male  65.00
55                                          Woolner, Mr. Hugh    male    NaN
56                                          Rugg, Miss. Emily  female  21.00
57                                        Novel, Mr. Mansouer    male  28.50
58                               West, Miss. Constance Mirium  female   5.00
59                         Goodwin, Master. William Frederick    male  11.00
60                                      Sirayanian, Mr. Orsen    male  22.00
61                                        Icard, Miss. Amelie  female  38.00
62                                Harris, Mr. Henry Birkhardt    male  45.00
63                                      Skoog, Master. Harald    male   4.00
64                                      Stewart, Mr. Albert A    male    NaN
65                                   Moubarek, Master. Gerios    male    NaN
66                               Nye, Mrs. (Elizabeth Ramell)  female  29.00
67                                   Crease, Mr. Ernest James    male  19.00
68                            Andersson, Miss. Erna Alexandra  female  17.00
69                                          Kink, Mr. Vincenz    male  26.00
70                                 Jenkin, Mr. Stephen Curnow    male  32.00
71                                 Goodwin, Miss. Lillian Amy  female  16.00
72                                       Hood, Mr. Ambrose Jr    male  21.00
73                                Chronopoulos, Mr. Apostolos    male  26.00
74                                              Bing, Mr. Lee    male  32.00
75                                    Moen, Mr. Sigurd Hansen    male  25.00
76                                          Staneff, Mr. Ivan    male    NaN
77                                   Moutal, Mr. Rahamin Haim    male    NaN
78                              Caldwell, Master. Alden Gates    male   0.83
79                                   Dowdell, Miss. Elizabeth  female  30.00
80                                       Waelens, Mr. Achille    male  22.00
81                                Sheerlinck, Mr. Jan Baptist    male  29.00
82                             McDermott, Miss. Brigdet Delia  female    NaN
83                                    Carrau, Mr. Francisco M    male  28.00
84                                        Ilett, Miss. Bertha  female  17.00
85    Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)  female  33.00
86                                     Ford, Mr. William Neal    male  16.00
87                              Slocovski, Mr. Selman Francis    male    NaN
88                                 Fortune, Miss. Mabel Helen  female  23.00
89                                     Celotti, Mr. Francesco    male  24.00
90                                       Christmann, Mr. Emil    male  29.00
91                                 Andreasson, Mr. Paul Edvin    male  20.00
92                                Chaffee, Mr. Herbert Fuller    male  46.00
93                                    Dean, Mr. Bertram Frank    male  26.00
94                                          Coxon, Mr. Daniel    male  59.00
95                                Shorney, Mr. Charles Joseph    male    NaN
96                                  Goldschmidt, Mr. George B    male  71.00
97                            Greenfield, Mr. William Bertram    male  23.00
98                       Doling, Mrs. John T (Ada Julia Bone)  female  34.00
99                                          Kantor, Mr. Sinai    male  34.00

    SibSp  Parch            Ticket      Fare        Cabin Embarked
0       1      0         A/5 21171    7.2500          NaN        S
1       1      0          PC 17599   71.2833          C85        C
2       0      0  STON/O2. 3101282    7.9250          NaN        S
3       1      0            113803   53.1000         C123        S
4       0      0            373450    8.0500          NaN        S
5       0      0            330877    8.4583          NaN        Q
6       0      0             17463   51.8625          E46        S
7       3      1            349909   21.0750          NaN        S
8       0      2            347742   11.1333          NaN        S
9       1      0            237736   30.0708          NaN        C
10      1      1           PP 9549   16.7000           G6        S
11      0      0            113783   26.5500         C103        S
12      0      0         A/5. 2151    8.0500          NaN        S
13      1      5            347082   31.2750          NaN        S
14      0      0            350406    7.8542          NaN        S
15      0      0            248706   16.0000          NaN        S
16      4      1            382652   29.1250          NaN        Q
17      0      0            244373   13.0000          NaN        S
18      1      0            345763   18.0000          NaN        S
19      0      0              2649    7.2250          NaN        C
20      0      0            239865   26.0000          NaN        S
21      0      0            248698   13.0000          D56        S
22      0      0            330923    8.0292          NaN        Q
23      0      0            113788   35.5000           A6        S
24      3      1            349909   21.0750          NaN        S
25      1      5            347077   31.3875          NaN        S
26      0      0              2631    7.2250          NaN        C
27      3      2             19950  263.0000  C23 C25 C27        S
28      0      0            330959    7.8792          NaN        Q
29      0      0            349216    7.8958          NaN        S
30      0      0          PC 17601   27.7208          NaN        C
31      1      0          PC 17569  146.5208          B78        C
32      0      0            335677    7.7500          NaN        Q
33      0      0        C.A. 24579   10.5000          NaN        S
34      1      0          PC 17604   82.1708          NaN        C
35      1      0            113789   52.0000          NaN        S
36      0      0              2677    7.2292          NaN        C
37      0      0        A./5. 2152    8.0500          NaN        S
38      2      0            345764   18.0000          NaN        S
39      1      0              2651   11.2417          NaN        C
40      1      0              7546    9.4750          NaN        S
41      1      0             11668   21.0000          NaN        S
42      0      0            349253    7.8958          NaN        C
43      1      2     SC/Paris 2123   41.5792          NaN        C
44      0      0            330958    7.8792          NaN        Q
45      0      0   S.C./A.4. 23567    8.0500          NaN        S
46      1      0            370371   15.5000          NaN        Q
47      0      0             14311    7.7500          NaN        Q
48      2      0              2662   21.6792          NaN        C
49      1      0            349237   17.8000          NaN        S
50      4      1           3101295   39.6875          NaN        S
51      0      0        A/4. 39886    7.8000          NaN        S
52      1      0          PC 17572   76.7292          D33        C
53      1      0              2926   26.0000          NaN        S
54      0      1            113509   61.9792          B30        C
55      0      0             19947   35.5000          C52        S
56      0      0        C.A. 31026   10.5000          NaN        S
57      0      0              2697    7.2292          NaN        C
58      1      2        C.A. 34651   27.7500          NaN        S
59      5      2           CA 2144   46.9000          NaN        S
60      0      0              2669    7.2292          NaN        C
61      0      0            113572   80.0000          B28      NaN
62      1      0             36973   83.4750          C83        S
63      3      2            347088   27.9000          NaN        S
64      0      0          PC 17605   27.7208          NaN        C
65      1      1              2661   15.2458          NaN        C
66      0      0        C.A. 29395   10.5000          F33        S
67      0      0         S.P. 3464    8.1583          NaN        S
68      4      2           3101281    7.9250          NaN        S
69      2      0            315151    8.6625          NaN        S
70      0      0        C.A. 33111   10.5000          NaN        S
71      5      2           CA 2144   46.9000          NaN        S
72      0      0      S.O.C. 14879   73.5000          NaN        S
73      1      0              2680   14.4542          NaN        C
74      0      0              1601   56.4958          NaN        S
75      0      0            348123    7.6500        F G73        S
76      0      0            349208    7.8958          NaN        S
77      0      0            374746    8.0500          NaN        S
78      0      2            248738   29.0000          NaN        S
79      0      0            364516   12.4750          NaN        S
80      0      0            345767    9.0000          NaN        S
81      0      0            345779    9.5000          NaN        S
82      0      0            330932    7.7875          NaN        Q
83      0      0            113059   47.1000          NaN        S
84      0      0        SO/C 14885   10.5000          NaN        S
85      3      0           3101278   15.8500          NaN        S
86      1      3        W./C. 6608   34.3750          NaN        S
87      0      0   SOTON/OQ 392086    8.0500          NaN        S
88      3      2             19950  263.0000  C23 C25 C27        S
89      0      0            343275    8.0500          NaN        S
90      0      0            343276    8.0500          NaN        S
91      0      0            347466    7.8542          NaN        S
92      1      0       W.E.P. 5734   61.1750          E31        S
93      1      2         C.A. 2315   20.5750          NaN        S
94      0      0            364500    7.2500          NaN        S
95      0      0            374910    8.0500          NaN        S
96      0      0          PC 17754   34.6542           A5        C
97      0      1          PC 17759   63.3583      D10 D12        C
98      0      1            231919   23.0000          NaN        S
99      1      0            244367   26.0000          NaN        S  >

## Make a new python module, acquire.py to hold the following data aquisition functions:

- Make a function named get_titanic_data that returns the titanic data from the codeup data science database as a pandas data frame. Obtain your data from the Codeup Data Science Database.

In [21]:
query = '''
SELECT * from passengers;
'''
url = acquire.get_connection('titanic_db')

df = pd.read_sql(query, url)

In [22]:
df

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,None,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,None,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,None,Southampton,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,0,2,male,27.0,0,0,13.0000,S,Second,None,Southampton,1
887,887,1,1,female,19.0,0,0,30.0000,S,First,B,Southampton,1
888,888,0,3,female,NaN,1,2,23.4500,S,Third,None,Southampton,0
889,889,1,1,male,26.0,0,0,30.0000,C,First,C,Cherbourg,1
890,890,0,3,male,32.0,0,0,7.7500,Q,Third,None,Queenstown,1

- Make a function named get_iris_data that returns the data from the iris_db on the codeup data science database as a pandas data frame. The returned data frame should include the actual name of the species in addition to the species_ids. Obtain your data from the Codeup Data Science Database.

In [23]:
query = '''
SELECT species_id, species_name from species;
'''
url = acquire.get_connection('iris_db')

df = pd.read_sql(query, url)

- Make a function named get_telco_data that returns the data from the telco_churn database in SQL. In your SQL, be sure to join contract_types, internet_service_types, payment_types tables with the customers table, so that the resulting dataframe contains all the contract, payment, and internet service options. Obtain your data from the Codeup Data Science Database.

In [24]:
def new_telco_data():
    '''
    This function reads the telco data from the Codeup db into a df.
    '''
    sql_query = """
                select * from customers
                join contract_types using (contract_type_id)
                join internet_service_types using (internet_service_type_id)
                join payment_types using (payment_type_id)
                """
    
    # Read in DataFrame from Codeup db.
    df = pd.read_sql(sql_query, get_db_url('telco_churn'))
    
    return df

In [25]:
def get_telco_data():
    '''
    This function reads in telco data from Codeup database, writes data to
    a csv file if a local file does not exist, and returns a df.
    '''
    if os.path.isfile('telco.csv'):
        
        # If csv file exists read in data from csv file.
        df = pd.read_csv('telco.csv', index_col=0)
        
    else:
        
        # Read fresh data from db into a DataFrame
        df = new_telco_data()
        
        # Cache data
        df.to_csv('telco.csv')
        
    return df

query = '''
SELECT contract_type, internet_service_type, payment_type FROM customer_payments
JOIN payment_types USING(payment_type_id)
JOIN customer_contracts USING(customer_id)
JOIN contract_types USING(contract_type_id)
JOIN customer_subscriptions USING(customer_id)
JOIN internet_service_types USING(internet_service_type_id);

'''
url = get_connection('telco_churn')

df = pd.read_sql(query, url)
df.head(51)

- Once you've got your get_titanic_data, get_iris_data, and get_telco_data functions written, now it's time to add caching to them. To do this, edit the beginning of the function to check for the local filename of telco.csv, titanic.csv, or iris.csv. If they exist, use the .csv file. If the file doesn't exist, then produce the SQL and pandas necessary to create a dataframe, then write the dataframe to a .csv file with the appropriate name.

In [26]:
import env
import os

In [27]:
os.getcwd()

'/Users/estebanhernandez/codeup-data-science/Classification-exercises'

In [28]:
titanic_connection=env.get_connection('titanic_db')
titanic_connection=env.get_connection('titanic_db')
get_titanic_data=pd.read_sql('SELECT * FROM passengers',titanic_connection)

In [29]:
acquire.get_titanic_data()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,0,2,male,27.0,0,0,13.0000,S,Second,NaN,Southampton,1
887,887,1,1,female,19.0,0,0,30.0000,S,First,B,Southampton,1
888,888,0,3,female,NaN,1,2,23.4500,S,Third,NaN,Southampton,0
889,889,1,1,male,26.0,0,0,30.0000,C,First,C,Cherbourg,1
890,890,0,3,male,32.0,0,0,7.7500,Q,Third,NaN,Queenstown,1

---

# Using the Iris Data:

## Prepare: What to do?
- Make sure any column names are cleaned and legible
- Make sure any missing values are accounted for
- Make sure any data types in our set are correct
- Encode our categorical variables
- Make it repeatable

- Use the function defined in acquire.py to load the iris data.

In [30]:
iris = acquire.get_iris_data()
iris

,species_id,species_name,sepal_length,sepal_width,petal_length,petal_width
0,1,setosa,5.1,3.5,1.4,0.2
1,1,setosa,4.9,3.0,1.4,0.2
2,1,setosa,4.7,3.2,1.3,0.2
3,1,setosa,4.6,3.1,1.5,0.2
4,1,setosa,5.0,3.6,1.4,0.2
5,1,setosa,5.4,3.9,1.7,0.4
6,1,setosa,4.6,3.4,1.4,0.3
7,1,setosa,5.0,3.4,1.5,0.2
8,1,setosa,4.4,2.9,1.4,0.2
9,1,setosa,4.9,3.1,1.5,0.1
10,1,setosa,5.4,3.7,1.5,0.2
11,1,setosa,4.8,3.4,1.6,0.2
12,1,setosa,4.8,3.0,1.4,0.1
13,1,setosa,4.3,3.0,1.1,0.1
14,1,setosa,5.8,4.0,1.2,0.2
15,1,setosa,5.7,4.4,1.5,0.4
16,1,setosa,5.4,3.9,1.3,0.4
17,1,setosa,5.1,3.5,1.4,0.3
18,1,setosa,5.7,3.8,1.7,0.3
19,1,setosa,5.1,3.8,1.5,0.3
20,1,setosa,5.4,3.4,1.7,0.2
21,1,setosa,5.1,3.7,1.5,0.4
22,1,setosa,4.6,3.6,1.0,0.2
23,1,setosa,5.1,3.3,1.7,0.5
24,1,setosa,4.8,3.4,1.9,0.2
25,1,setosa,5.0,3.0,1.6,0.2
26,1,setosa,5.0,3.4,1.6,0.4
27,1,setosa,5.2,3.5,1.5,0.2
28,1,setosa,5.2,3.4,1.4,0.2
29,1,setosa,4.7,3.2,1.6,0.2
30,1,setosa,4.8,3.1,1.6,0.2
31,1,setosa,5.4,3.4,1.5,0.4
32,1,setosa,5.2,4.1,1.5,0.1
33,1,setosa,5.5,4.2,1.4,0.2
34,1,setosa,4.9,3.1,1.5,0.2
35,1,setosa,5.0,3.2,1.2,0.2
36,1,setosa,5.5,3.5,1.3,0.2
37,1,setosa,4.9,3.6,1.4,0.1
38,1,setosa,4.4,3.0,1.3,0.2
39,1,setosa,5.1,3.4,1.5,0.2
40,1,setosa,5.0,3.5,1.3,0.3
41,1,setosa,4.5,2.3,1.3,0.3
42,1,setosa,4.4,3.2,1.3,0.2
43,1,setosa,5.0,3.5,1.6,0.6
44,1,setosa,5.1,3.8,1.9,0.4
45,1,setosa,4.8,3.0,1.4,0.3
46,1,setosa,5.1,3.8,1.6,0.2
47,1,setosa,4.6,3.2,1.4,0.2
48,1,setosa,5.3,3.7,1.5,0.2
49,1,setosa,5.0,3.3,1.4,0.2
50,2,versicolor,7.0,3.2,4.7,1.4
51,2,versicolor,6.4,3.2,4.5,1.5
52,2,versicolor,6.9,3.1,4.9,1.5
53,2,versicolor,5.5,2.3,4.0,1.3
54,2,versicolor,6.5,2.8,4.6,1.5
55,2,versicolor,5.7,2.8,4.5,1.3
56,2,versicolor,6.3,3.3,4.7,1.6
57,2,versicolor,4.9,2.4,3.3,1.0
58,2,versicolor,6.6,2.9,4.6,1.3
59,2,versicolor,5.2,2.7,3.9,1.4
60,2,versicolor,5.0,2.0,3.5,1.0
61,2,versicolor,5.9,3.0,4.2,1.5
62,2,versicolor,6.0,2.2,4.0,1.0
63,2,versicolor,6.1,2.9,4.7,1.4
64,2,versicolor,5.6,2.9,3.6,1.3
65,2,versicolor,6.7,3.1,4.4,1.4
66,2,versicolor,5.6,3.0,4.5,1.5
67,2,versicolor,5.8,2.7,4.1,1.0
68,2,versicolor,6.2,2.2,4.5,1.5
69,2,versicolor,5.6,2.5,3.9,1.1
70,2,versicolor,5.9,3.2,4.8,1.8
71,2,versicolor,6.1,2.8,4.0,1.3
72,2,versicolor,6.3,2.5,4.9,1.5
73,2,versicolor,6.1,2.8,4.7,1.2
74,2,versicolor,6.4,2.9,4.3,1.3
75,2,versicolor,6.6,3.0,4.4,1.4
76,2,versicolor,6.8,2.8,4.8,1.4
77,2,versicolor,6.7,3.0,5.0,1.7
78,2,versicolor,6.0,2.9,4.5,1.5
79,2,versicolor,5.7,2.6,3.5,1.0
80,2,versicolor,5.5,2.4,3.8,1.1
81,2,versicolor,5.5,2.4,3.7,1.0
82,2,versicolor,5.8,2.7,3.9,1.2
83,2,versicolor,6.0,2.7,5.1,1.6
84,2,versicolor,5.4,3.0,4.5,1.5
85,2,versicolor,6.0,3.4,4.5,1.6
86,2,versicolor,6.7,3.1,4.7,1.5
87,2,versicolor,6.3,2.3,4.4,1.3
88,2,versicolor,5.6,3.0,4.1,1.3
89,2,versicolor,5.5,2.5,4.0,1.3
90,2,versicolor,5.5,2.6,4.4,1.2
91,2,versicolor,6.1,3.0,4.6,1.4
92,2,versicolor,5.8,2.6,4.0,1.2
93,2,versicolor,5.0,2.3,3.3,1.0
94,2,versicolor,5.6,2.7,4.2,1.3
95,2,versicolor,5.7,3.0,4.2,1.2
96,2,versicolor,5.7,2.9,4.2,1.3
97,2,versicolor,6.2,2.9,4.3,1.3
98,2,versicolor,5.1,2.5,3.0,1.1
99,2,versicolor,5.7,2.8,4.1,1.3
100,3,virginica,6.3,3.3,6.0,2.5
101,3,virginica,5.8,2.7,5.1,1.9
102,3,virginica,7.1,3.0,5.9,2.1
103,3,virginica,6.3,2.9,5.6,1.8
104,3,virginica,6.5,3.0,5.8,2.2
105,3,virginica,7.6,3.0,6.6,2.1
106,3,virginica,4.9,2.5,4.5,1.7
107,3,virginica,7.3,2.9,6.3,1.8
108,3,virginica,6.7,2.5,5.8,1.8
109,3,virginica,7.2,3.6,6.1,2.5
110,3,virginica,6.5,3.2,5.1,2.0
111,3,virginica,6.4,2.7,5.3,1.9
112,3,virginica,6.8,3.0,5.5,2.1
113,3,virginica,5.7,2.5,5.0,2.0
114,3,virginica,5.8,2.8,5.1,2.4
115,3,virginica,6.4,3.2,5.3,2.3
116,3,virginica,6.5,3.0,5.5,1.8
117,3,virginica,7.7,3.8,6.7,2.2
118,3,virginica,7.7,2.6,6.9,2.3
119,3,virginica,6.0,2.2,5.0,1.5
120,3,virginica,6.9,3.2,5.7,2.3
121,3,virginica,5.6,2.8,4.9,2.0
122,3,virginica,7.7,2.8,6.7,2.0
123,3,virginica,6.3,2.7,4.9,1.8
124,3,virginica,6.7,3.3,5.7,2.1
125,3,virginica,7.2,3.2,6.0,1.8
126,3,virginica,6.2,2.8,4.8,1.8
127,3,virginica,6.1,3.0,4.9,1.8
128,3,virginica,6.4,2.8,5.6,2.1
129,3,virginica,7.2,3.0,5.8,1.6
130,3,virginica,7.4,2.8,6.1,1.9
131,3,virginica,7.9,3.8,6.4,2.0
132,3,virginica,6.4,2.8,5.6,2.2
133,3,virginica,6.3,2.8,5.1,1.5
134,3,virginica,6.1,2.6,5.6,1.4
135,3,virginica,7.7,3.0,6.1,2.3
136,3,virginica,6.3,3.4,5.6,2.4
137,3,virginica,6.4,3.1,5.5,1.8
138,3,virginica,6.0,3.0,4.8,1.8
139,3,virginica,6.9,3.1,5.4,2.1
140,3,virginica,6.7,3.1,5.6,2.4
141,3,virginica,6.9,3.1,5.1,2.3
142,3,virginica,5.8,2.7,5.1,1.9
143,3,virginica,6.8,3.2,5.9,2.3
144,3,virginica,6.7,3.3,5.7,2.5
145,3,virginica,6.7,3.0,5.2,2.3
146,3,virginica,6.3,2.5,5.0,1.9
147,3,virginica,6.5,3.0,5.2,2.0
148,3,virginica,6.2,3.4,5.4,2.3
149,3,virginica,5.9,3.0,5.1,1.8

- Drop the species_id and measurement_id columns.

In [31]:
column_drops = ['species_id']
iris.drop(columns= column_drops, inplace= True)

- Rename the species_name column to just species.

In [32]:
iris = iris.rename(columns = {'species_name': 'species'})
iris

        species  sepal_length  sepal_width  petal_length  petal_width
0        setosa           5.1          3.5           1.4          0.2
1        setosa           4.9          3.0           1.4          0.2
2        setosa           4.7          3.2           1.3          0.2
3        setosa           4.6          3.1           1.5          0.2
4        setosa           5.0          3.6           1.4          0.2
5        setosa           5.4          3.9           1.7          0.4
6        setosa           4.6          3.4           1.4          0.3
7        setosa           5.0          3.4           1.5          0.2
8        setosa           4.4          2.9           1.4          0.2
9        setosa           4.9          3.1           1.5          0.1
10       setosa           5.4          3.7           1.5          0.2
11       setosa           4.8          3.4           1.6          0.2
12       setosa           4.8          3.0           1.4          0.1
13       setosa           4.3          3.0           1.1          0.1
14       setosa           5.8          4.0           1.2          0.2
15       setosa           5.7          4.4           1.5          0.4
16       setosa           5.4          3.9           1.3          0.4
17       setosa           5.1          3.5           1.4          0.3
18       setosa           5.7          3.8           1.7          0.3
19       setosa           5.1          3.8           1.5          0.3
20       setosa           5.4          3.4           1.7          0.2
21       setosa           5.1          3.7           1.5          0.4
22       setosa           4.6          3.6           1.0          0.2
23       setosa           5.1          3.3           1.7          0.5
24       setosa           4.8          3.4           1.9          0.2
25       setosa           5.0          3.0           1.6          0.2
26       setosa           5.0          3.4           1.6          0.4
27       setosa           5.2          3.5           1.5          0.2
28       setosa           5.2          3.4           1.4          0.2
29       setosa           4.7          3.2           1.6          0.2
30       setosa           4.8          3.1           1.6          0.2
31       setosa           5.4          3.4           1.5          0.4
32       setosa           5.2          4.1           1.5          0.1
33       setosa           5.5          4.2           1.4          0.2
34       setosa           4.9          3.1           1.5          0.2
35       setosa           5.0          3.2           1.2          0.2
36       setosa           5.5          3.5           1.3          0.2
37       setosa           4.9          3.6           1.4          0.1
38       setosa           4.4          3.0           1.3          0.2
39       setosa           5.1          3.4           1.5          0.2
40       setosa           5.0          3.5           1.3          0.3
41       setosa           4.5          2.3           1.3          0.3
42       setosa           4.4          3.2           1.3          0.2
43       setosa           5.0          3.5           1.6          0.6
44       setosa           5.1          3.8           1.9          0.4
45       setosa           4.8          3.0           1.4          0.3
46       setosa           5.1          3.8           1.6          0.2
47       setosa           4.6          3.2           1.4          0.2
48       setosa           5.3          3.7           1.5          0.2
49       setosa           5.0          3.3           1.4          0.2
50   versicolor           7.0          3.2           4.7          1.4
51   versicolor           6.4          3.2           4.5          1.5
52   versicolor           6.9          3.1           4.9          1.5
53   versicolor           5.5          2.3           4.0          1.3
54   versicolor           6.5          2.8           4.6          1.5
55   versicolor           5.7          2.8           4.5          1.3
56   versicolor           6.3          3.3           4.7          1.6
57   versicolor           4.9          2.4           3.3          1.0
58   versicolor           6.6          2.9           4.6          1.3
59   versicolor           5.2          2.7           3.9          1.4
60   versicolor           5.0          2.0           3.5          1.0
61   versicolor           5.9          3.0           4.2          1.5
62   versicolor           6.0          2.2           4.0          1.0
63   versicolor           6.1          2.9           4.7          1.4
64   versicolor           5.6          2.9           3.6          1.3
65   versicolor           6.7          3.1           4.4          1.4
66   versicolor           5.6          3.0           4.5          1.5
67   versicolor           5.8          2.7           4.1          1.0
68   versicolor           6.2          2.2           4.5          1.5
69   versicolor           5.6          2.5           3.9          1.1
70   versicolor           5.9          3.2           4.8          1.8
71   versicolor           6.1          2.8           4.0          1.3
72   versicolor           6.3          2.5           4.9          1.5
73   versicolor           6.1          2.8           4.7          1.2
74   versicolor           6.4          2.9           4.3          1.3
75   versicolor           6.6          3.0           4.4          1.4
76   versicolor           6.8          2.8           4.8          1.4
77   versicolor           6.7          3.0           5.0          1.7
78   versicolor           6.0          2.9           4.5          1.5
79   versicolor           5.7          2.6           3.5          1.0
80   versicolor           5.5          2.4           3.8          1.1
81   versicolor           5.5          2.4           3.7          1.0
82   versicolor           5.8          2.7           3.9          1.2
83   versicolor           6.0          2.7           5.1          1.6
84   versicolor           5.4          3.0           4.5          1.5
85   versicolor           6.0          3.4           4.5          1.6
86   versicolor           6.7          3.1           4.7          1.5
87   versicolor           6.3          2.3           4.4          1.3
88   versicolor           5.6          3.0           4.1          1.3
89   versicolor           5.5          2.5           4.0          1.3
90   versicolor           5.5          2.6           4.4          1.2
91   versicolor           6.1          3.0           4.6          1.4
92   versicolor           5.8          2.6           4.0          1.2
93   versicolor           5.0          2.3           3.3          1.0
94   versicolor           5.6          2.7           4.2          1.3
95   versicolor           5.7          3.0           4.2          1.2
96   versicolor           5.7          2.9           4.2          1.3
97   versicolor           6.2          2.9           4.3          1.3
98   versicolor           5.1          2.5           3.0          1.1
99   versicolor           5.7          2.8           4.1          1.3
100   virginica           6.3          3.3           6.0          2.5
101   virginica           5.8          2.7           5.1          1.9
102   virginica           7.1          3.0           5.9          2.1
103   virginica           6.3          2.9           5.6          1.8
104   virginica           6.5          3.0           5.8          2.2
105   virginica           7.6          3.0           6.6          2.1
106   virginica           4.9          2.5           4.5          1.7
107   virginica           7.3          2.9           6.3          1.8
108   virginica           6.7          2.5           5.8          1.8
109   virginica           7.2          3.6           6.1          2.5
110   virginica           6.5          3.2           5.1          2.0
111   virginica           6.4          2.7           5.3          1.9
112   virginica           6.8          3.0           5.5          2.1
113   virginica           5.7          2.5           5.0          2.0
114   virginica           5.8          2.8           5.1          2.4
115   virginica           6.4          3.2           5.3          2.3
116   virginica           6.5          3.0           5.5          1.8
117   virginica           7.7          3.8           6.7          2.2
118   virginica           7.7          2.6           6.9          2.3
119   virginica           6.0          2.2           5.0          1.5
120   virginica           6.9          3.2           5.7          2.3
121   virginica           5.6          2.8           4.9          2.0
122   virginica           7.7          2.8           6.7          2.0
123   virginica           6.3          2.7           4.9          1.8
124   virginica           6.7          3.3           5.7          2.1
125   virginica           7.2          3.2           6.0          1.8
126   virginica           6.2          2.8           4.8          1.8
127   virginica           6.1          3.0           4.9          1.8
128   virginica           6.4          2.8           5.6          2.1
129   virginica           7.2          3.0           5.8          1.6
130   virginica           7.4          2.8           6.1          1.9
131   virginica           7.9          3.8           6.4          2.0
132   virginica           6.4          2.8           5.6          2.2
133   virginica           6.3          2.8           5.1          1.5
134   virginica           6.1          2.6           5.6          1.4
135   virginica           7.7          3.0           6.1          2.3
136   virginica           6.3          3.4           5.6          2.4
137   virginica           6.4          3.1           5.5          1.8
138   virginica           6.0          3.0           4.8          1.8
139   virginica           6.9          3.1           5.4          2.1
140   virginica           6.7          3.1           5.6          2.4
141   virginica           6.9          3.1           5.1          2.3
142   virginica           5.8          2.7           5.1          1.9
143   virginica           6.8          3.2           5.9          2.3
144   virginica           6.7          3.3           5.7          2.5
145   virginica           6.7          3.0           5.2          2.3
146   virginica           6.3          2.5           5.0          1.9
147   virginica           6.5          3.0           5.2          2.0
148   virginica           6.2          3.4           5.4          2.3
149   virginica           5.9          3.0           5.1          1.8

- Create dummy variables of the species name and concatenate onto the iris dataframe. (This is for practice, we don't always have to encode the target, but if we used species as a feature, we would need to encode it).

In [33]:
dummy_df = pd.get_dummies(iris.species, drop_first=True)
dummy_df

     versicolor  virginica
0             0          0
1             0          0
2             0          0
3             0          0
4             0          0
5             0          0
6             0          0
7             0          0
8             0          0
9             0          0
10            0          0
11            0          0
12            0          0
13            0          0
14            0          0
15            0          0
16            0          0
17            0          0
18            0          0
19            0          0
20            0          0
21            0          0
22            0          0
23            0          0
24            0          0
25            0          0
26            0          0
27            0          0
28            0          0
29            0          0
30            0          0
31            0          0
32            0          0
33            0          0
34            0          0
35            0          0
36            0          0
37            0          0
38            0          0
39            0          0
40            0          0
41            0          0
42            0          0
43            0          0
44            0          0
45            0          0
46            0          0
47            0          0
48            0          0
49            0          0
50            1          0
51            1          0
52            1          0
53            1          0
54            1          0
55            1          0
56            1          0
57            1          0
58            1          0
59            1          0
60            1          0
61            1          0
62            1          0
63            1          0
64            1          0
65            1          0
66            1          0
67            1          0
68            1          0
69            1          0
70            1          0
71            1          0
72            1          0
73            1          0
74            1          0
75            1          0
76            1          0
77            1          0
78            1          0
79            1          0
80            1          0
81            1          0
82            1          0
83            1          0
84            1          0
85            1          0
86            1          0
87            1          0
88            1          0
89            1          0
90            1          0
91            1          0
92            1          0
93            1          0
94            1          0
95            1          0
96            1          0
97            1          0
98            1          0
99            1          0
100           0          1
101           0          1
102           0          1
103           0          1
104           0          1
105           0          1
106           0          1
107           0          1
108           0          1
109           0          1
110           0          1
111           0          1
112           0          1
113           0          1
114           0          1
115           0          1
116           0          1
117           0          1
118           0          1
119           0          1
120           0          1
121           0          1
122           0          1
123           0          1
124           0          1
125           0          1
126           0          1
127           0          1
128           0          1
129           0          1
130           0          1
131           0          1
132           0          1
133           0          1
134           0          1
135           0          1
136           0          1
137           0          1
138           0          1
139           0          1
140           0          1
141           0          1
142           0          1
143           0          1
144           0          1
145           0          1
146           0          1
147           0          1
148           0          1
149           0          1

In [34]:
iris = pd.concat([iris, dummy_df], axis = 1)

- Create a function named prep_iris that accepts the untransformed iris data, and returns the data with the transformations above applied.

In [35]:
def prep_iris(iris):
    column_drops = ['species_id']
    iris.drop(columns= column_drops, inplace= True) 
    
    iris = iris.rename(columns = {'species_name': 'species'})
    
    dummy_df = pd.get_dummies(iris.species, drop_first=True)
    iris = pd.concat([iris, dummy_df], axis = 1)
    return iris

In [36]:
prep_iris(acquire.get_iris_data())

,species,sepal_length,sepal_width,petal_length,petal_width,versicolor,virginica
0,setosa,5.1,3.5,1.4,0.2,0,0
1,setosa,4.9,3.0,1.4,0.2,0,0
2,setosa,4.7,3.2,1.3,0.2,0,0
3,setosa,4.6,3.1,1.5,0.2,0,0
4,setosa,5.0,3.6,1.4,0.2,0,0
5,setosa,5.4,3.9,1.7,0.4,0,0
6,setosa,4.6,3.4,1.4,0.3,0,0
7,setosa,5.0,3.4,1.5,0.2,0,0
8,setosa,4.4,2.9,1.4,0.2,0,0
9,setosa,4.9,3.1,1.5,0.1,0,0
10,setosa,5.4,3.7,1.5,0.2,0,0
11,setosa,4.8,3.4,1.6,0.2,0,0
12,setosa,4.8,3.0,1.4,0.1,0,0
13,setosa,4.3,3.0,1.1,0.1,0,0
14,setosa,5.8,4.0,1.2,0.2,0,0
15,setosa,5.7,4.4,1.5,0.4,0,0
16,setosa,5.4,3.9,1.3,0.4,0,0
17,setosa,5.1,3.5,1.4,0.3,0,0
18,setosa,5.7,3.8,1.7,0.3,0,0
19,setosa,5.1,3.8,1.5,0.3,0,0
20,setosa,5.4,3.4,1.7,0.2,0,0
21,setosa,5.1,3.7,1.5,0.4,0,0
22,setosa,4.6,3.6,1.0,0.2,0,0
23,setosa,5.1,3.3,1.7,0.5,0,0
24,setosa,4.8,3.4,1.9,0.2,0,0
25,setosa,5.0,3.0,1.6,0.2,0,0
26,setosa,5.0,3.4,1.6,0.4,0,0
27,setosa,5.2,3.5,1.5,0.2,0,0
28,setosa,5.2,3.4,1.4,0.2,0,0
29,setosa,4.7,3.2,1.6,0.2,0,0
30,setosa,4.8,3.1,1.6,0.2,0,0
31,setosa,5.4,3.4,1.5,0.4,0,0
32,setosa,5.2,4.1,1.5,0.1,0,0
33,setosa,5.5,4.2,1.4,0.2,0,0
34,setosa,4.9,3.1,1.5,0.2,0,0
35,setosa,5.0,3.2,1.2,0.2,0,0
36,setosa,5.5,3.5,1.3,0.2,0,0
37,setosa,4.9,3.6,1.4,0.1,0,0
38,setosa,4.4,3.0,1.3,0.2,0,0
39,setosa,5.1,3.4,1.5,0.2,0,0
40,setosa,5.0,3.5,1.3,0.3,0,0
41,setosa,4.5,2.3,1.3,0.3,0,0
42,setosa,4.4,3.2,1.3,0.2,0,0
43,setosa,5.0,3.5,1.6,0.6,0,0
44,setosa,5.1,3.8,1.9,0.4,0,0
45,setosa,4.8,3.0,1.4,0.3,0,0
46,setosa,5.1,3.8,1.6,0.2,0,0
47,setosa,4.6,3.2,1.4,0.2,0,0
48,setosa,5.3,3.7,1.5,0.2,0,0
49,setosa,5.0,3.3,1.4,0.2,0,0
50,versicolor,7.0,3.2,4.7,1.4,1,0
51,versicolor,6.4,3.2,4.5,1.5,1,0
52,versicolor,6.9,3.1,4.9,1.5,1,0
53,versicolor,5.5,2.3,4.0,1.3,1,0
54,versicolor,6.5,2.8,4.6,1.5,1,0
55,versicolor,5.7,2.8,4.5,1.3,1,0
56,versicolor,6.3,3.3,4.7,1.6,1,0
57,versicolor,4.9,2.4,3.3,1.0,1,0
58,versicolor,6.6,2.9,4.6,1.3,1,0
59,versicolor,5.2,2.7,3.9,1.4,1,0
60,versicolor,5.0,2.0,3.5,1.0,1,0
61,versicolor,5.9,3.0,4.2,1.5,1,0
62,versicolor,6.0,2.2,4.0,1.0,1,0
63,versicolor,6.1,2.9,4.7,1.4,1,0
64,versicolor,5.6,2.9,3.6,1.3,1,0
65,versicolor,6.7,3.1,4.4,1.4,1,0
66,versicolor,5.6,3.0,4.5,1.5,1,0
67,versicolor,5.8,2.7,4.1,1.0,1,0
68,versicolor,6.2,2.2,4.5,1.5,1,0
69,versicolor,5.6,2.5,3.9,1.1,1,0
70,versicolor,5.9,3.2,4.8,1.8,1,0
71,versicolor,6.1,2.8,4.0,1.3,1,0
72,versicolor,6.3,2.5,4.9,1.5,1,0
73,versicolor,6.1,2.8,4.7,1.2,1,0
74,versicolor,6.4,2.9,4.3,1.3,1,0
75,versicolor,6.6,3.0,4.4,1.4,1,0
76,versicolor,6.8,2.8,4.8,1.4,1,0
77,versicolor,6.7,3.0,5.0,1.7,1,0
78,versicolor,6.0,2.9,4.5,1.5,1,0
79,versicolor,5.7,2.6,3.5,1.0,1,0
80,versicolor,5.5,2.4,3.8,1.1,1,0
81,versicolor,5.5,2.4,3.7,1.0,1,0
82,versicolor,5.8,2.7,3.9,1.2,1,0
83,versicolor,6.0,2.7,5.1,1.6,1,0
84,versicolor,5.4,3.0,4.5,1.5,1,0
85,versicolor,6.0,3.4,4.5,1.6,1,0
86,versicolor,6.7,3.1,4.7,1.5,1,0
87,versicolor,6.3,2.3,4.4,1.3,1,0
88,versicolor,5.6,3.0,4.1,1.3,1,0
89,versicolor,5.5,2.5,4.0,1.3,1,0
90,versicolor,5.5,2.6,4.4,1.2,1,0
91,versicolor,6.1,3.0,4.6,1.4,1,0
92,versicolor,5.8,2.6,4.0,1.2,1,0
93,versicolor,5.0,2.3,3.3,1.0,1,0
94,versicolor,5.6,2.7,4.2,1.3,1,0
95,versicolor,5.7,3.0,4.2,1.2,1,0
96,versicolor,5.7,2.9,4.2,1.3,1,0
97,versicolor,6.2,2.9,4.3,1.3,1,0
98,versicolor,5.1,2.5,3.0,1.1,1,0
99,versicolor,5.7,2.8,4.1,1.3,1,0
100,virginica,6.3,3.3,6.0,2.5,0,1
101,virginica,5.8,2.7,5.1,1.9,0,1
102,virginica,7.1,3.0,5.9,2.1,0,1
103,virginica,6.3,2.9,5.6,1.8,0,1
104,virginica,6.5,3.0,5.8,2.2,0,1
105,virginica,7.6,3.0,6.6,2.1,0,1
106,virginica,4.9,2.5,4.5,1.7,0,1
107,virginica,7.3,2.9,6.3,1.8,0,1
108,virginica,6.7,2.5,5.8,1.8,0,1
109,virginica,7.2,3.6,6.1,2.5,0,1
110,virginica,6.5,3.2,5.1,2.0,0,1
111,virginica,6.4,2.7,5.3,1.9,0,1
112,virginica,6.8,3.0,5.5,2.1,0,1
113,virginica,5.7,2.5,5.0,2.0,0,1
114,virginica,5.8,2.8,5.1,2.4,0,1
115,virginica,6.4,3.2,5.3,2.3,0,1
116,virginica,6.5,3.0,5.5,1.8,0,1
117,virginica,7.7,3.8,6.7,2.2,0,1
118,virginica,7.7,2.6,6.9,2.3,0,1
119,virginica,6.0,2.2,5.0,1.5,0,1
120,virginica,6.9,3.2,5.7,2.3,0,1
121,virginica,5.6,2.8,4.9,2.0,0,1
122,virginica,7.7,2.8,6.7,2.0,0,1
123,virginica,6.3,2.7,4.9,1.8,0,1
124,virginica,6.7,3.3,5.7,2.1,0,1
125,virginica,7.2,3.2,6.0,1.8,0,1
126,virginica,6.2,2.8,4.8,1.8,0,1
127,virginica,6.1,3.0,4.9,1.8,0,1
128,virginica,6.4,2.8,5.6,2.1,0,1
129,virginica,7.2,3.0,5.8,1.6,0,1
130,virginica,7.4,2.8,6.1,1.9,0,1
131,virginica,7.9,3.8,6.4,2.0,0,1
132,virginica,6.4,2.8,5.6,2.2,0,1
133,virginica,6.3,2.8,5.1,1.5,0,1
134,virginica,6.1,2.6,5.6,1.4,0,1
135,virginica,7.7,3.0,6.1,2.3,0,1
136,virginica,6.3,3.4,5.6,2.4,0,1
137,virginica,6.4,3.1,5.5,1.8,0,1
138,virginica,6.0,3.0,4.8,1.8,0,1
139,virginica,6.9,3.1,5.4,2.1,0,1
140,virginica,6.7,3.1,5.6,2.4,0,1
141,virginica,6.9,3.1,5.1,2.3,0,1
142,virginica,5.8,2.7,5.1,1.9,0,1
143,virginica,6.8,3.2,5.9,2.3,0,1
144,virginica,6.7,3.3,5.7,2.5,0,1
145,virginica,6.7,3.0,5.2,2.3,0,1
146,virginica,6.3,2.5,5.0,1.9,0,1
147,virginica,6.5,3.0,5.2,2.0,0,1
148,virginica,6.2,3.4,5.4,2.3,0,1
149,virginica,5.9,3.0,5.1,1.8,0,1

## Using the Titanic dataset

- Use the function defined in acquire.py to load the Titanic data.

In [37]:
titanic = acquire.get_titanic_data()
titanic

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,0,2,male,27.0,0,0,13.0000,S,Second,NaN,Southampton,1
887,887,1,1,female,19.0,0,0,30.0000,S,First,B,Southampton,1
888,888,0,3,female,NaN,1,2,23.4500,S,Third,NaN,Southampton,0
889,889,1,1,male,26.0,0,0,30.0000,C,First,C,Cherbourg,1
890,890,0,3,male,32.0,0,0,7.7500,Q,Third,NaN,Queenstown,1

- Drop any unnecessary, unhelpful, or duplicated columns.

In [38]:
titanic.info()
# 'deck' as a lot of missing values
# 'sex' and

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   passenger_id  891 non-null    int64
 1   survived      891 non-null    int64
 2   pclass        891 non-null    int64
 3   sex           891 non-null    object
 4   age           714 non-null    float64
 5   sibsp         891 non-null    int64
 6   parch         891 non-null    int64
 7   fare          891 non-null    float64
 8   embarked      889 non-null    object
 9   class         891 non-null    object
 10  deck          203 non-null    object
 11  embark_town   889 non-null    object
 12  alone         891 non-null    int64
dtypes: float64(2), int64(6), object(5)
memory usage: 97.5+ KB

In [39]:
column_drops = ['embarked', 'class', 'passenger_id', 'deck']
titanic.drop(columns= column_drops, inplace= True)
titanic

     survived  pclass     sex   age  sibsp  parch     fare  embark_town  alone
0           0       3    male  22.0      1      0   7.2500  Southampton      0
1           1       1  female  38.0      1      0  71.2833    Cherbourg      0
2           1       3  female  26.0      0      0   7.9250  Southampton      1
3           1       1  female  35.0      1      0  53.1000  Southampton      0
4           0       3    male  35.0      0      0   8.0500  Southampton      1
..        ...     ...     ...   ...    ...    ...      ...          ...    ...
886         0       2    male  27.0      0      0  13.0000  Southampton      1
887         1       1  female  19.0      0      0  30.0000  Southampton      1
888         0       3  female   NaN      1      2  23.4500  Southampton      0
889         1       1    male  26.0      0      0  30.0000    Cherbourg      1
890         0       3    male  32.0      0      0   7.7500   Queenstown      1

[891 rows x 9 columns]

- Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

In [40]:

dummy = pd.get_dummies(titanic[['embark_town', 'sex']], drop_first= True)

In [41]:
titanic = pd.concat([titanic, dummy], axis=1)

- Create a function named prep_titanic that accepts the raw titanic data, and returns the data with the transformations above applied.

In [42]:
def prep_titanic(titanic):
    titanic = titanic.drop(columns=['class', 'embarked', 'passenger_id','deck', 'age'])
    titanic = titanic.dropna()
    encoded_vars = pd.get_dummies(titanic[['embark_town', 'sex']], drop_first=True)
    titanic = pd.concat([titanic, encoded_vars], axis=1)
    return titanic

# # Using the Telco dataset

- Use the function defined in acquire.py to load the Telco data.

In [43]:
telco = acquire.get_telco_data()
telco

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,2,1,2,0002-ORFBO,Female,0,Yes,Yes,9,Yes,...,Yes,Yes,No,Yes,65.60,593.3,No,One year,DSL,Mailed check
1,2,1,1,0003-MKNFE,Male,0,No,No,9,Yes,...,No,No,Yes,No,59.90,542.4,No,Month-to-month,DSL,Mailed check
2,1,2,1,0004-TLHLJ,Male,0,No,No,4,Yes,...,No,No,No,Yes,73.90,280.85,Yes,Month-to-month,Fiber optic,Electronic check
3,1,2,1,0011-IGKFF,Male,1,Yes,No,13,Yes,...,No,Yes,Yes,Yes,98.00,1237.85,Yes,Month-to-month,Fiber optic,Electronic check
4,2,2,1,0013-EXCHZ,Female,1,Yes,No,3,Yes,...,Yes,Yes,No,Yes,83.90,267.4,Yes,Month-to-month,Fiber optic,Mailed check
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,2,1,2,9987-LUTYD,Female,0,No,No,13,Yes,...,Yes,No,No,No,55.15,742.9,No,One year,DSL,Mailed check
7039,1,2,1,9992-RRAMN,Male,0,Yes,No,22,Yes,...,No,No,Yes,Yes,85.10,1873.7,Yes,Month-to-month,Fiber optic,Electronic check
7040,2,1,1,9992-UJOEL,Male,0,No,No,2,Yes,...,No,No,No,Yes,50.30,92.75,No,Month-to-month,DSL,Mailed check
7041,2,1,3,9993-LHIEB,Male,0,Yes,Yes,67,Yes,...,Yes,No,Yes,No,67.85,4627.65,No,Two year,DSL,Mailed check
7042,1,1,3,9995-HOTOH,Male,0,Yes,Yes,63,No,...,No,Yes,Yes,No,59.00,3707.6,No,Two year,DSL,Electronic check

In [44]:
telco.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7043 entries, 0 to 7042
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   payment_type_id           7043 non-null   int64
 1   internet_service_type_id  7043 non-null   int64
 2   contract_type_id          7043 non-null   int64
 3   customer_id               7043 non-null   object
 4   gender                    7043 non-null   object
 5   senior_citizen            7043 non-null   int64
 6   partner                   7043 non-null   object
 7   dependents                7043 non-null   object
 8   tenure                    7043 non-null   int64
 9   phone_service             7043 non-null   object
 10  multiple_lines            7043 non-null   object
 11  online_security           7043 non-null   object
 12  online_backup             7043 non-null   object
 13  device_protection         7043 non-null   object
 14  tech_support              7043 non-null   object
 15  streaming_tv              7043 non-null   object
 16  streaming_movies          7043 non-null   object
 17  paperless_billing         7043 non-null   object
 18  monthly_charges           7043 non-null   float64
 19  total_charges             7043 non-null   object
 20  churn                     7043 non-null   object
 21  contract_type             7043 non-null   object
 22  internet_service_type     7043 non-null   object
 23  payment_type              7043 non-null   object
dtypes: float64(1), int64(5), object(18)
memory usage: 1.3+ MB

- Drop any unnecessary, unhelpful, or duplicated columns. This could mean dropping foreign key columns but keeping the corresponding string values, for example.

In [45]:
column_drops = ['payment_type_id', 'internet_service_type_id', 'contract_type_id',]
telco.drop(columns= column_drops, inplace= True)
telco

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,No,Yes,...,Yes,Yes,No,Yes,65.60,593.3,No,One year,DSL,Mailed check
1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,No,No,...,No,No,Yes,No,59.90,542.4,No,Month-to-month,DSL,Mailed check
2,0004-TLHLJ,Male,0,No,No,4,Yes,No,No,No,...,No,No,No,Yes,73.90,280.85,Yes,Month-to-month,Fiber optic,Electronic check
3,0011-IGKFF,Male,1,Yes,No,13,Yes,No,No,Yes,...,No,Yes,Yes,Yes,98.00,1237.85,Yes,Month-to-month,Fiber optic,Electronic check
4,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,No,No,...,Yes,Yes,No,Yes,83.90,267.4,Yes,Month-to-month,Fiber optic,Mailed check
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,9987-LUTYD,Female,0,No,No,13,Yes,No,Yes,No,...,Yes,No,No,No,55.15,742.9,No,One year,DSL,Mailed check
7039,9992-RRAMN,Male,0,Yes,No,22,Yes,Yes,No,No,...,No,No,Yes,Yes,85.10,1873.7,Yes,Month-to-month,Fiber optic,Electronic check
7040,9992-UJOEL,Male,0,No,No,2,Yes,No,No,Yes,...,No,No,No,Yes,50.30,92.75,No,Month-to-month,DSL,Mailed check
7041,9993-LHIEB,Male,0,Yes,Yes,67,Yes,No,Yes,No,...,Yes,No,Yes,No,67.85,4627.65,No,Two year,DSL,Mailed check
7042,9995-HOTOH,Male,0,Yes,Yes,63,No,No phone service,Yes,Yes,...,No,Yes,Yes,No,59.00,3707.6,No,Two year,DSL,Electronic check

In [46]:
telco.total_charges.value_counts()
# blank value can be because its the people who just started their membership and have not paid yet

           11
20.2       11
19.75       9
19.9        8
20.05       8
           ..
2387.75     1
6302.8      1
2058.5      1
829.55      1
3707.6      1
Name: total_charges, Length: 6531, dtype: int64

In [47]:
float('' + '0')

0.0

In [48]:
telco['total_charges']= (telco.total_charges + '0').astype('float')

- Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

In [49]:
telco.total_charges.dtype == 'object'

False

In [50]:
pd.get_dummies(telco.gender)

      Female  Male
0          1     0
1          0     1
2          0     1
3          0     1
4          1     0
...      ...   ...
7038       1     0
7039       0     1
7040       0     1
7041       0     1
7042       0     1

[7043 rows x 2 columns]

In [51]:
# construct a loop
# if the dtype associated with the Series in telco is an Object (str)
# then we will append it into our categorical list of column names
# otherwise it will be assumed to be numerical
categorical_columns = []
bin_cats = []
mult_cats = []
numerical_columns = []
for col in telco.columns:
    if telco[col].dtype == 'object':
        categorical_columns.append(col)
        if telco[col].value_counts().size > 2:
            mult_cats.append(col)
        else:
            bin_cats.append(col)
    else:
        numerical_columns.append(col)

In [52]:
categorical_columns

['customer_id',
 'gender',
 'partner',
 'dependents',
 'phone_service',
 'multiple_lines',
 'online_security',
 'online_backup',
 'device_protection',
 'tech_support',
 'streaming_tv',
 'streaming_movies',
 'paperless_billing',
 'churn',
 'contract_type',
 'internet_service_type',
 'payment_type']

In [53]:
bin_cats

['gender',
 'partner',
 'dependents',
 'phone_service',
 'paperless_billing',
 'churn']

In [54]:
mult_cats

['customer_id',
 'multiple_lines',
 'online_security',
 'online_backup',
 'device_protection',
 'tech_support',
 'streaming_tv',
 'streaming_movies',
 'contract_type',
 'internet_service_type',
 'payment_type']

In [55]:
numerical_columns

['senior_citizen', 'tenure', 'monthly_charges', 'total_charges']

In [56]:
mult_cats.remove('customer_id')

In [57]:
mult_cats

['multiple_lines',
 'online_security',
 'online_backup',
 'device_protection',
 'tech_support',
 'streaming_tv',
 'streaming_movies',
 'contract_type',
 'internet_service_type',
 'payment_type']

In [58]:
telco['paperless_billing'].value_counts()

Yes    4171
No     2872
Name: paperless_billing, dtype: int64

In [59]:
# encode our binary columns
# we can do one of several options in this case
# i'm choosing to use .map()
telco['gender'] = telco['gender'].map({'Male': 0, 'Female': 1})
telco['partner'] = telco['partner'].map({'No': 0, 'Yes': 1})
telco['dependents'] = telco['dependents'].map({'No': 0, 'Yes': 1})
telco['phone_service'] = telco['phone_service'].map({'No': 0, 'Yes': 1})
telco['paperless_billing'] = telco['paperless_billing'].map({'No': 0, 'Yes': 1})

In [60]:
# pass all other non-binary categoricals into dummy columns
telco = pd.concat([
    telco,
    pd.get_dummies(telco[mult_cats])
], axis=1)

# Create a function named prep_telco that accepts the raw telco data, and returns the data with the transformations above applied.

In [61]:
def prep_telco(telco):
    telco['total_charges'] = (telco.total_charges + '0').astype('float')
    telco = telco.drop(columns=['internet_service_type_id', 'contract_type_id', 'payment_type_id'])
    telco['gender_encoded'] = telco.gender.map({'Female': 1, 'Male': 0})
    telco['partner_encoded'] = telco.partner.map({'Yes': 1, 'No': 0})
    telco['dependents_encoded'] = telco.dependents.map({'Yes': 1, 'No': 0})
    telco['phone_service_encoded'] = telco.phone_service.map({'Yes': 1, 'No': 0})
    telco['paperless_billing_encoded'] = telco.paperless_billing.map({'Yes': 1, 'No': 0})
    telco['churn_encoded'] = telco.churn.map({'Yes': 1, 'No': 0})
    dummy_df = pd.get_dummies(telco[['multiple_lines', 
                              'online_security', 'online_backup', 
                              'device_protection', 'tech_support', 'streaming_tv', 
                              'streaming_movies', 'contract_type', 'internet_service_type', 'payment_type']],
                              drop_first=True)
    telco = pd.concat( [telco, dummy_df], axis=1 )
    
    return telco

## Write a function to split your data into train, test and validate datasets. Add this function to prepare.py.

In [62]:
def split_data(df, target=''):

    train, test = train_test_split(df, 
                               train_size = 0.8,
                               random_state=1349,
                              stratify=df[target])
    train, val = train_test_split(train,
                             train_size = 0.7,
                             random_state=1349,
                             stratify=train[target])
    return train, val, test

- Run the function in your notebook on the Iris dataset, returning 3 datasets, train_iris, validate_iris and test_iris.

In [63]:
iris = acquire.get_iris_data()

In [64]:
train, validate, test = split_data(iris, target='species_name')

In [65]:
train, validate = train_test_split(train, train_size=0.7, random_state=1349, stratify=train.species_name)

In [66]:
train.shape, validate.shape, test.shape

((58, 6), (26, 6), (30, 6))

- Run the function on the Titanic dataset, returning 3 datasets, train_titanic, validate_titanic and test_titanic.

In [67]:
titanic_train, titanic_val, titanic_test = split_data(
titanic, target='survived')

In [68]:
titanic_train, titanic_val, titanic_test

(     survived  pclass     sex   age  sibsp  parch     fare  embark_town  \
 474         0       3  female  22.0      0      0   9.8375  Southampton
 370         1       1    male  25.0      1      0  55.4417    Cherbourg
 573         1       3  female   NaN      0      0   7.7500   Queenstown
 110         0       1    male  47.0      0      0  52.0000  Southampton
 167         0       3  female  45.0      1      4  27.9000  Southampton
 ..        ...     ...     ...   ...    ...    ...      ...          ...
 735         0       3    male  28.5      0      0  16.1000  Southampton
 163         0       3    male  17.0      0      0   8.6625  Southampton
 770         0       3    male  24.0      0      0   9.5000  Southampton
 196         0       3    male   NaN      0      0   7.7500   Queenstown
 94          0       3    male  59.0      0      0   7.2500  Southampton

      alone  embark_town_Queenstown  embark_town_Southampton  sex_male
 474      1                       0                        1         0
 370      0                       0                        0         1
 573      1                       1                        0         0
 110      1                       0                        1         1
 167      0                       0                        1         0
 ..     ...                     ...                      ...       ...
 735      1                       0                        1         1
 163      1                       0                        1         1
 770      1                       0                        1         1
 196      1                       1                        0         1
 94       1                       0                        1         1

 [498 rows x 12 columns],
      survived  pclass     sex   age  sibsp  parch      fare  embark_town  \
 569         1       3    male  32.0      0      0    7.8542  Southampton
 532         0       3    male  17.0      1      1    7.2292    Cherbourg
 223         0       3    male   NaN      0      0    7.8958  Southampton
 35          0       1    male  42.0      1      0   52.0000  Southampton
 93          0       3    male  26.0      1      2   20.5750  Southampton
 ..        ...     ...     ...   ...    ...    ...       ...          ...
 91          0       3    male  20.0      0      0    7.8542  Southampton
 258         1       1  female  35.0      0      0  512.3292    Cherbourg
 186         1       3  female   NaN      1      0   15.5000   Queenstown
 108         0       3    male  38.0      0      0    7.8958  Southampton
 845         0       3    male  42.0      0      0    7.5500  Southampton

      alone  embark_town_Queenstown  embark_town_Southampton  sex_male
 569      1                       0                        1         1
 532      0                       0                        0         1
 223      1                       0                        1         1
 35       0                       0                        1         1
 93       0                       0                        1         1
 ..     ...                     ...                      ...       ...
 91       1                       0                        1         1
 258      1                       0                        0         0
 186      0                       1                        0         0
 108      1                       0                        1         1
 845      1                       0                        1         1

 [214 rows x 12 columns],
      survived  pclass     sex   age  sibsp  parch     fare  embark_town  \
 691         1       3  female   4.0      0      1  13.4167    Cherbourg
 762         1       3    male  20.0      0      0   7.2292    Cherbourg
 869         1       3    male   4.0      1      1  11.1333  Southampton
 174         0       1    male  56.0      0      0  30.6958    Cherbourg
 45          0       3    male   NaN      0      0   8.0500  Southampton
 ..        ...     ...     ...   ...    ...    ...      ...          ...
 871         1       1  female  47.0      1      1  52.5542  Southampton
 221         0       2    male  27.0      0      0  13.0000  Southampton
 134         0       2    male  25.0      0      0  13.0000  Southampton
 262         0       1    male  52.0      1      1  79.6500  Southampton
 799         0       3  female  30.0      1      1  24.1500  Southampton

      alone  embark_town_Queenstown  embark_town_Southampton  sex_male
 691      0                       0                        0         0
 762      1                       0                        0         1
 869      0                       0                        1         1
 174      1                       0                        0         1
 45       1                       0                        1         1
 ..     ...                     ...                      ...       ...
 871      0                       0                        1         0
 221      1                       0                        1         1
 134      1                       0                        1         1
 262      0                       0                        1         1
 799      0                       0                        1         0

 [179 rows x 12 columns])

- Run the function on the Telco dataset, returning 3 datasets, train_telco, validate_telco and test_telco.

In [69]:
 telco_train, telco_val, telco_test = split_data(
telco, target='churn')

In [70]:
telco_train.size, telco_val.size, telco_test.size

(205036, 87932, 73268)

# Section 1 - iris_db: Using iris data from our mySQL server and the methods used in the lesson above:

- Acquire, prepare & split your data.

In [71]:
iris = acquire.get_iris_data()
iris

,species_id,species_name,sepal_length,sepal_width,petal_length,petal_width
0,1,setosa,5.1,3.5,1.4,0.2
1,1,setosa,4.9,3.0,1.4,0.2
2,1,setosa,4.7,3.2,1.3,0.2
3,1,setosa,4.6,3.1,1.5,0.2
4,1,setosa,5.0,3.6,1.4,0.2
5,1,setosa,5.4,3.9,1.7,0.4
6,1,setosa,4.6,3.4,1.4,0.3
7,1,setosa,5.0,3.4,1.5,0.2
8,1,setosa,4.4,2.9,1.4,0.2
9,1,setosa,4.9,3.1,1.5,0.1
10,1,setosa,5.4,3.7,1.5,0.2
11,1,setosa,4.8,3.4,1.6,0.2
12,1,setosa,4.8,3.0,1.4,0.1
13,1,setosa,4.3,3.0,1.1,0.1
14,1,setosa,5.8,4.0,1.2,0.2
15,1,setosa,5.7,4.4,1.5,0.4
16,1,setosa,5.4,3.9,1.3,0.4
17,1,setosa,5.1,3.5,1.4,0.3
18,1,setosa,5.7,3.8,1.7,0.3
19,1,setosa,5.1,3.8,1.5,0.3
20,1,setosa,5.4,3.4,1.7,0.2
21,1,setosa,5.1,3.7,1.5,0.4
22,1,setosa,4.6,3.6,1.0,0.2
23,1,setosa,5.1,3.3,1.7,0.5
24,1,setosa,4.8,3.4,1.9,0.2
25,1,setosa,5.0,3.0,1.6,0.2
26,1,setosa,5.0,3.4,1.6,0.4
27,1,setosa,5.2,3.5,1.5,0.2
28,1,setosa,5.2,3.4,1.4,0.2
29,1,setosa,4.7,3.2,1.6,0.2
30,1,setosa,4.8,3.1,1.6,0.2
31,1,setosa,5.4,3.4,1.5,0.4
32,1,setosa,5.2,4.1,1.5,0.1
33,1,setosa,5.5,4.2,1.4,0.2
34,1,setosa,4.9,3.1,1.5,0.2
35,1,setosa,5.0,3.2,1.2,0.2
36,1,setosa,5.5,3.5,1.3,0.2
37,1,setosa,4.9,3.6,1.4,0.1
38,1,setosa,4.4,3.0,1.3,0.2
39,1,setosa,5.1,3.4,1.5,0.2
40,1,setosa,5.0,3.5,1.3,0.3
41,1,setosa,4.5,2.3,1.3,0.3
42,1,setosa,4.4,3.2,1.3,0.2
43,1,setosa,5.0,3.5,1.6,0.6
44,1,setosa,5.1,3.8,1.9,0.4
45,1,setosa,4.8,3.0,1.4,0.3
46,1,setosa,5.1,3.8,1.6,0.2
47,1,setosa,4.6,3.2,1.4,0.2
48,1,setosa,5.3,3.7,1.5,0.2
49,1,setosa,5.0,3.3,1.4,0.2
50,2,versicolor,7.0,3.2,4.7,1.4
51,2,versicolor,6.4,3.2,4.5,1.5
52,2,versicolor,6.9,3.1,4.9,1.5
53,2,versicolor,5.5,2.3,4.0,1.3
54,2,versicolor,6.5,2.8,4.6,1.5
55,2,versicolor,5.7,2.8,4.5,1.3
56,2,versicolor,6.3,3.3,4.7,1.6
57,2,versicolor,4.9,2.4,3.3,1.0
58,2,versicolor,6.6,2.9,4.6,1.3
59,2,versicolor,5.2,2.7,3.9,1.4
60,2,versicolor,5.0,2.0,3.5,1.0
61,2,versicolor,5.9,3.0,4.2,1.5
62,2,versicolor,6.0,2.2,4.0,1.0
63,2,versicolor,6.1,2.9,4.7,1.4
64,2,versicolor,5.6,2.9,3.6,1.3
65,2,versicolor,6.7,3.1,4.4,1.4
66,2,versicolor,5.6,3.0,4.5,1.5
67,2,versicolor,5.8,2.7,4.1,1.0
68,2,versicolor,6.2,2.2,4.5,1.5
69,2,versicolor,5.6,2.5,3.9,1.1
70,2,versicolor,5.9,3.2,4.8,1.8
71,2,versicolor,6.1,2.8,4.0,1.3
72,2,versicolor,6.3,2.5,4.9,1.5
73,2,versicolor,6.1,2.8,4.7,1.2
74,2,versicolor,6.4,2.9,4.3,1.3
75,2,versicolor,6.6,3.0,4.4,1.4
76,2,versicolor,6.8,2.8,4.8,1.4
77,2,versicolor,6.7,3.0,5.0,1.7
78,2,versicolor,6.0,2.9,4.5,1.5
79,2,versicolor,5.7,2.6,3.5,1.0
80,2,versicolor,5.5,2.4,3.8,1.1
81,2,versicolor,5.5,2.4,3.7,1.0
82,2,versicolor,5.8,2.7,3.9,1.2
83,2,versicolor,6.0,2.7,5.1,1.6
84,2,versicolor,5.4,3.0,4.5,1.5
85,2,versicolor,6.0,3.4,4.5,1.6
86,2,versicolor,6.7,3.1,4.7,1.5
87,2,versicolor,6.3,2.3,4.4,1.3
88,2,versicolor,5.6,3.0,4.1,1.3
89,2,versicolor,5.5,2.5,4.0,1.3
90,2,versicolor,5.5,2.6,4.4,1.2
91,2,versicolor,6.1,3.0,4.6,1.4
92,2,versicolor,5.8,2.6,4.0,1.2
93,2,versicolor,5.0,2.3,3.3,1.0
94,2,versicolor,5.6,2.7,4.2,1.3
95,2,versicolor,5.7,3.0,4.2,1.2
96,2,versicolor,5.7,2.9,4.2,1.3
97,2,versicolor,6.2,2.9,4.3,1.3
98,2,versicolor,5.1,2.5,3.0,1.1
99,2,versicolor,5.7,2.8,4.1,1.3
100,3,virginica,6.3,3.3,6.0,2.5
101,3,virginica,5.8,2.7,5.1,1.9
102,3,virginica,7.1,3.0,5.9,2.1
103,3,virginica,6.3,2.9,5.6,1.8
104,3,virginica,6.5,3.0,5.8,2.2
105,3,virginica,7.6,3.0,6.6,2.1
106,3,virginica,4.9,2.5,4.5,1.7
107,3,virginica,7.3,2.9,6.3,1.8
108,3,virginica,6.7,2.5,5.8,1.8
109,3,virginica,7.2,3.6,6.1,2.5
110,3,virginica,6.5,3.2,5.1,2.0
111,3,virginica,6.4,2.7,5.3,1.9
112,3,virginica,6.8,3.0,5.5,2.1
113,3,virginica,5.7,2.5,5.0,2.0
114,3,virginica,5.8,2.8,5.1,2.4
115,3,virginica,6.4,3.2,5.3,2.3
116,3,virginica,6.5,3.0,5.5,1.8
117,3,virginica,7.7,3.8,6.7,2.2
118,3,virginica,7.7,2.6,6.9,2.3
119,3,virginica,6.0,2.2,5.0,1.5
120,3,virginica,6.9,3.2,5.7,2.3
121,3,virginica,5.6,2.8,4.9,2.0
122,3,virginica,7.7,2.8,6.7,2.0
123,3,virginica,6.3,2.7,4.9,1.8
124,3,virginica,6.7,3.3,5.7,2.1
125,3,virginica,7.2,3.2,6.0,1.8
126,3,virginica,6.2,2.8,4.8,1.8
127,3,virginica,6.1,3.0,4.9,1.8
128,3,virginica,6.4,2.8,5.6,2.1
129,3,virginica,7.2,3.0,5.8,1.6
130,3,virginica,7.4,2.8,6.1,1.9
131,3,virginica,7.9,3.8,6.4,2.0
132,3,virginica,6.4,2.8,5.6,2.2
133,3,virginica,6.3,2.8,5.1,1.5
134,3,virginica,6.1,2.6,5.6,1.4
135,3,virginica,7.7,3.0,6.1,2.3
136,3,virginica,6.3,3.4,5.6,2.4
137,3,virginica,6.4,3.1,5.5,1.8
138,3,virginica,6.0,3.0,4.8,1.8
139,3,virginica,6.9,3.1,5.4,2.1
140,3,virginica,6.7,3.1,5.6,2.4
141,3,virginica,6.9,3.1,5.1,2.3
142,3,virginica,5.8,2.7,5.1,1.9
143,3,virginica,6.8,3.2,5.9,2.3
144,3,virginica,6.7,3.3,5.7,2.5
145,3,virginica,6.7,3.0,5.2,2.3
146,3,virginica,6.3,2.5,5.0,1.9
147,3,virginica,6.5,3.0,5.2,2.0
148,3,virginica,6.2,3.4,5.4,2.3
149,3,virginica,5.9,3.0,5.1,1.8

In [72]:
prepare.prep_iris(iris)

,species,sepal_length,sepal_width,petal_length,petal_width,versicolor,virginica
0,setosa,5.1,3.5,1.4,0.2,0,0
1,setosa,4.9,3.0,1.4,0.2,0,0
2,setosa,4.7,3.2,1.3,0.2,0,0
3,setosa,4.6,3.1,1.5,0.2,0,0
4,setosa,5.0,3.6,1.4,0.2,0,0
5,setosa,5.4,3.9,1.7,0.4,0,0
6,setosa,4.6,3.4,1.4,0.3,0,0
7,setosa,5.0,3.4,1.5,0.2,0,0
8,setosa,4.4,2.9,1.4,0.2,0,0
9,setosa,4.9,3.1,1.5,0.1,0,0
10,setosa,5.4,3.7,1.5,0.2,0,0
11,setosa,4.8,3.4,1.6,0.2,0,0
12,setosa,4.8,3.0,1.4,0.1,0,0
13,setosa,4.3,3.0,1.1,0.1,0,0
14,setosa,5.8,4.0,1.2,0.2,0,0
15,setosa,5.7,4.4,1.5,0.4,0,0
16,setosa,5.4,3.9,1.3,0.4,0,0
17,setosa,5.1,3.5,1.4,0.3,0,0
18,setosa,5.7,3.8,1.7,0.3,0,0
19,setosa,5.1,3.8,1.5,0.3,0,0
20,setosa,5.4,3.4,1.7,0.2,0,0
21,setosa,5.1,3.7,1.5,0.4,0,0
22,setosa,4.6,3.6,1.0,0.2,0,0
23,setosa,5.1,3.3,1.7,0.5,0,0
24,setosa,4.8,3.4,1.9,0.2,0,0
25,setosa,5.0,3.0,1.6,0.2,0,0
26,setosa,5.0,3.4,1.6,0.4,0,0
27,setosa,5.2,3.5,1.5,0.2,0,0
28,setosa,5.2,3.4,1.4,0.2,0,0
29,setosa,4.7,3.2,1.6,0.2,0,0
30,setosa,4.8,3.1,1.6,0.2,0,0
31,setosa,5.4,3.4,1.5,0.4,0,0
32,setosa,5.2,4.1,1.5,0.1,0,0
33,setosa,5.5,4.2,1.4,0.2,0,0
34,setosa,4.9,3.1,1.5,0.2,0,0
35,setosa,5.0,3.2,1.2,0.2,0,0
36,setosa,5.5,3.5,1.3,0.2,0,0
37,setosa,4.9,3.6,1.4,0.1,0,0
38,setosa,4.4,3.0,1.3,0.2,0,0
39,setosa,5.1,3.4,1.5,0.2,0,0
40,setosa,5.0,3.5,1.3,0.3,0,0
41,setosa,4.5,2.3,1.3,0.3,0,0
42,setosa,4.4,3.2,1.3,0.2,0,0
43,setosa,5.0,3.5,1.6,0.6,0,0
44,setosa,5.1,3.8,1.9,0.4,0,0
45,setosa,4.8,3.0,1.4,0.3,0,0
46,setosa,5.1,3.8,1.6,0.2,0,0
47,setosa,4.6,3.2,1.4,0.2,0,0
48,setosa,5.3,3.7,1.5,0.2,0,0
49,setosa,5.0,3.3,1.4,0.2,0,0
50,versicolor,7.0,3.2,4.7,1.4,1,0
51,versicolor,6.4,3.2,4.5,1.5,1,0
52,versicolor,6.9,3.1,4.9,1.5,1,0
53,versicolor,5.5,2.3,4.0,1.3,1,0
54,versicolor,6.5,2.8,4.6,1.5,1,0
55,versicolor,5.7,2.8,4.5,1.3,1,0
56,versicolor,6.3,3.3,4.7,1.6,1,0
57,versicolor,4.9,2.4,3.3,1.0,1,0
58,versicolor,6.6,2.9,4.6,1.3,1,0
59,versicolor,5.2,2.7,3.9,1.4,1,0
60,versicolor,5.0,2.0,3.5,1.0,1,0
61,versicolor,5.9,3.0,4.2,1.5,1,0
62,versicolor,6.0,2.2,4.0,1.0,1,0
63,versicolor,6.1,2.9,4.7,1.4,1,0
64,versicolor,5.6,2.9,3.6,1.3,1,0
65,versicolor,6.7,3.1,4.4,1.4,1,0
66,versicolor,5.6,3.0,4.5,1.5,1,0
67,versicolor,5.8,2.7,4.1,1.0,1,0
68,versicolor,6.2,2.2,4.5,1.5,1,0
69,versicolor,5.6,2.5,3.9,1.1,1,0
70,versicolor,5.9,3.2,4.8,1.8,1,0
71,versicolor,6.1,2.8,4.0,1.3,1,0
72,versicolor,6.3,2.5,4.9,1.5,1,0
73,versicolor,6.1,2.8,4.7,1.2,1,0
74,versicolor,6.4,2.9,4.3,1.3,1,0
75,versicolor,6.6,3.0,4.4,1.4,1,0
76,versicolor,6.8,2.8,4.8,1.4,1,0
77,versicolor,6.7,3.0,5.0,1.7,1,0
78,versicolor,6.0,2.9,4.5,1.5,1,0
79,versicolor,5.7,2.6,3.5,1.0,1,0
80,versicolor,5.5,2.4,3.8,1.1,1,0
81,versicolor,5.5,2.4,3.7,1.0,1,0
82,versicolor,5.8,2.7,3.9,1.2,1,0
83,versicolor,6.0,2.7,5.1,1.6,1,0
84,versicolor,5.4,3.0,4.5,1.5,1,0
85,versicolor,6.0,3.4,4.5,1.6,1,0
86,versicolor,6.7,3.1,4.7,1.5,1,0
87,versicolor,6.3,2.3,4.4,1.3,1,0
88,versicolor,5.6,3.0,4.1,1.3,1,0
89,versicolor,5.5,2.5,4.0,1.3,1,0
90,versicolor,5.5,2.6,4.4,1.2,1,0
91,versicolor,6.1,3.0,4.6,1.4,1,0
92,versicolor,5.8,2.6,4.0,1.2,1,0
93,versicolor,5.0,2.3,3.3,1.0,1,0
94,versicolor,5.6,2.7,4.2,1.3,1,0
95,versicolor,5.7,3.0,4.2,1.2,1,0
96,versicolor,5.7,2.9,4.2,1.3,1,0
97,versicolor,6.2,2.9,4.3,1.3,1,0
98,versicolor,5.1,2.5,3.0,1.1,1,0
99,versicolor,5.7,2.8,4.1,1.3,1,0
100,virginica,6.3,3.3,6.0,2.5,0,1
101,virginica,5.8,2.7,5.1,1.9,0,1
102,virginica,7.1,3.0,5.9,2.1,0,1
103,virginica,6.3,2.9,5.6,1.8,0,1
104,virginica,6.5,3.0,5.8,2.2,0,1
105,virginica,7.6,3.0,6.6,2.1,0,1
106,virginica,4.9,2.5,4.5,1.7,0,1
107,virginica,7.3,2.9,6.3,1.8,0,1
108,virginica,6.7,2.5,5.8,1.8,0,1
109,virginica,7.2,3.6,6.1,2.5,0,1
110,virginica,6.5,3.2,5.1,2.0,0,1
111,virginica,6.4,2.7,5.3,1.9,0,1
112,virginica,6.8,3.0,5.5,2.1,0,1
113,virginica,5.7,2.5,5.0,2.0,0,1
114,virginica,5.8,2.8,5.1,2.4,0,1
115,virginica,6.4,3.2,5.3,2.3,0,1
116,virginica,6.5,3.0,5.5,1.8,0,1
117,virginica,7.7,3.8,6.7,2.2,0,1
118,virginica,7.7,2.6,6.9,2.3,0,1
119,virginica,6.0,2.2,5.0,1.5,0,1
120,virginica,6.9,3.2,5.7,2.3,0,1
121,virginica,5.6,2.8,4.9,2.0,0,1
122,virginica,7.7,2.8,6.7,2.0,0,1
123,virginica,6.3,2.7,4.9,1.8,0,1
124,virginica,6.7,3.3,5.7,2.1,0,1
125,virginica,7.2,3.2,6.0,1.8,0,1
126,virginica,6.2,2.8,4.8,1.8,0,1
127,virginica,6.1,3.0,4.9,1.8,0,1
128,virginica,6.4,2.8,5.6,2.1,0,1
129,virginica,7.2,3.0,5.8,1.6,0,1
130,virginica,7.4,2.8,6.1,1.9,0,1
131,virginica,7.9,3.8,6.4,2.0,0,1
132,virginica,6.4,2.8,5.6,2.2,0,1
133,virginica,6.3,2.8,5.1,1.5,0,1
134,virginica,6.1,2.6,5.6,1.4,0,1
135,virginica,7.7,3.0,6.1,2.3,0,1
136,virginica,6.3,3.4,5.6,2.4,0,1
137,virginica,6.4,3.1,5.5,1.8,0,1
138,virginica,6.0,3.0,4.8,1.8,0,1
139,virginica,6.9,3.1,5.4,2.1,0,1
140,virginica,6.7,3.1,5.6,2.4,0,1
141,virginica,6.9,3.1,5.1,2.3,0,1
142,virginica,5.8,2.7,5.1,1.9,0,1
143,virginica,6.8,3.2,5.9,2.3,0,1
144,virginica,6.7,3.3,5.7,2.5,0,1
145,virginica,6.7,3.0,5.2,2.3,0,1
146,virginica,6.3,2.5,5.0,1.9,0,1
147,virginica,6.5,3.0,5.2,2.0,0,1
148,virginica,6.2,3.4,5.4,2.3,0,1
149,virginica,5.9,3.0,5.1,1.8,0,1

In [73]:
def train_validate_test_split(df, targe):
    train_validate, test = train_test_split(iris, train_size=.80, 
                                            random_state=123, 
                                            stratify=df[target])

    train, validate = train_test_split(train_validate, 
                                       train_size=.70, 
                                       random_state=123, 
                                       stratify=train_validate[target])
    return train, validate, test

In [74]:
train, validate, test = train_validate_test_split(iris)

train.shape, validate.shape, test.shape

TypeError: train_validate_test_split() missing 1 required positional argument: 'targe'

### Univariate Stats

In [ ]:
[train[col].dtype != 'object' for col in train.columns]

In [ ]:
# identify numeric colummns
# then filter iris by those column 

num_cols = train.columns[[train[col].dtype != 'object' for col in train.columns]]
num_cols

# loop through each numeric column and plot a histogram and boxplot 
# and compute descriptive stats. 

# but before doing that, make it work for one variable to make sure it works for one

# histogram
col = 'sepal_length'
plt.hist(train[col])
plt.title(col)
plt.ylabel('frequency')
plt.show()

# boxplot
plt.boxplot(train[col])
plt.ylabel(col)
plt.show()

# descriptive statistics
train[col].describe()

In [ ]:
for col in num_cols:
    plt.hist(train[col])
    plt.title(col)
    plt.ylabel('frequency')
    plt.show()

    # boxplot
    plt.boxplot(train[col])
    plt.ylabel(col)
    plt.show()

    print(train[col].describe())

### Bivariate Stats

- Visualize each measurement type (y-axis) with the species variable (x-axis) using barplots, adding a horizontal line showing the overall mean of the metric (y-axis).

- For each measurement type, compute the descriptive statistics for each species.

- For virginica & versicolor: Compare the mean petal_width using the Mann-Whitney test (scipy.stats.mannwhitneyu) to see if there is a significant difference between the two groups. Do the same for the other measurement types.

- Document takeaways & any actions.

In [ ]:
# now do that for each variable: barplot with species on x and var on y
col='sepal_length'
for col in num_cols:
    sns.barplot(x='species', y=col, data=train)
    plt.title(f'Average {col} for each species')
    overall_mean = train[col].mean()
    plt.axhline(overall_mean, label=f'Mean {col}', 
                color='rebeccapurple', linestyle='dotted')
    plt.legend()
    plt.show()
    
# compute the descriptive stats
train.groupby('species').describe().T

H_0: There is no significant difference in the mean petal width for Virginica vs Versicolor.

H_a: There is a significant difference in the mean petal width for Virginica vs. Versicolor.

In [ ]:
alpha = 0.05

t, p = stats.mannwhitneyu(train[train.species_name=='virginica'].petal_width, 
                          train[train.species_name=='versicolor'].petal_width
                         )

if p < alpha:
    print("Reject null hypothesis, there is a significant difference")
    print("p-value: ", p)
else:
    print("There is not enough evidence to reject the null hypothesis")
    print("p-value: ", p)

## Multivariate Stats

- Visualize the interaction of each measurement type with the others using a pairplot (or scatter matrix or something similar) and add color to represent species.

- Visualize two numeric variables of the species. Hint: sns.relplot with hue or col

- Create a swarmplot using a melted dataframe of all your numeric variables. The x-axis should be the variable name, the y-axis the measure. Add another dimension using color to represent species. Document takeaways from this visualization.

- Ask a specific question of the data, such as: is the sepal area signficantly different in virginica compared to setosa? Answer the question through both a plot and using a mann-whitney or t-test. If you use a t-test, be sure assumptions are met (independence, normality, equal variance).

H_0 = there is no significant differnce between the area for virginica compared to setosa
H_a = there is a significant differnce between the area for virginica compared to setosa

In [ ]:
sns.pairplot(data = train, hue= 'species_name', corner= True)

In [ ]:
train['sepal_area'] = train.sepal_length * train.sepal_width
train['petal_area'] = train.petal_length * train.petal_width
#sns.relplot(x='sepal_area', y= 'petal_area')

In [ ]:
melted = train.melt(id_vars=['species_name'], var_name='measure', value_name='values')

In [ ]:
plt.title('Difference in Measuremtns across Species')
sns.swarmplot(x= 'measure', y= 'values', data = melted, hue= 'species_name')
plt.show()

- Document takeaways and any actions

# Part II

- Explore your titanic dataset more completely.

Is the impact of traveling alone differnent based on sex

In [ ]:
titanic = acquire.get_titanic_data()

In [ ]:
titanic = prepare.prep_titanic(titanic)

In [ ]:
titanic

- Determine drivers of the target variable

In [ ]:
train, validate, test = split_data(titanic, target='survived')
train.info()

In [ ]:
cat_vars= ['sex', 'embark_town', 'class', 'alone', 'parch']

In [ ]:
col= 'pclass'

In [ ]:
survival_rate= train.survived.mean()
sns.barplot(x=col, y='survived', data = train)
plt.axhline(survival_rate, color='rebeccapurple', linestyle= '-.')
plt.show()

In [ ]:
# now to make it work for all of them

for col in cat_vars:
    plt.title= (f'Rate of survival')
                
    sns.barplot(x=col, y='survived', data = train)
    plt.axhline(survival_rate, color='rebeccapurple', linestyle= '-.')
    plt.show()

- Determine if certain columns should be dropped

No columns to drop

- Determine if it would be valuable to bin some numeric columns

In [ ]:
titanic["Paid_survival"] = titanic['survived'].astype(str) +"-"+ titanic["fare"].astype(str)

In [ ]:
pay_to_live.embark_town.value_counts()

In [ ]:
pay_to_live = titanic[titanic['Paid_survival'].str.startswith('1')]
pay_to_live

In [ ]:
pay_to_live.fare.mean()

In [ ]:
pay_to_lose.embark_town.value_counts()

In [ ]:
pay_to_lose = titanic[titanic['Paid_survival'].str.startswith('0')]
pay_to_lose

In [ ]:
pay_to_lose.fare.mean()

- Determine if it would be valuable to combine multiple columns into one.

- Does it make sense to combine any features?

No

- Do you find any surprises?

No

### Is the impact of traveling alone different based on sex

In [ ]:
female = train[train.sex == 'female']
male = train[train.sex == 'male']

sns.barplot(x = 'alone', y = 'survived', data = train, hue = 'sex')
plt.show()

In [ ]:
sns.barplot(x='pclass', y= 'survived', data = train, hue = 'sex')
plt.show()

# female who didnt survive appear to be in 3rd class
# if a male survived, he was likely in 1st class

In [ ]:
sns.barplot(x = 'pclass', y ='survived', data= train[train.sex == 'female'],
           hue = 'alone')
plt.show()

run a test if females in 3rd class who travel alone are
significantly more likel to survive than those not traveling alone

H_0: survival rate of females in 3rd class alone <= survival rate of females in 3rd class not alone

H_a: survival rate of females in 3rd class alone > survival rate of females in 3rd class not alone

In [ ]:
sample = train[(train['pclass'] == 3) & (train['sex'] == 'female')]
                
ovserved = pd.crosstabe(sample.alone, sample.survived)
chi2, p, df, expected = stats.chi2_contingency

- Document any and all findings and takeaways in your notebook using markdown.

# Part III

- Explore your telco data to discover drivers of churn

In [ ]:
telco = acquire.get_telco_data()

In [ ]:
telco = prepare.prep_telco_data(telco)
telco

In [75]:
# split data into train,validate,test using our defined function and validate sizes of returned DF's
train, validate, test = prepare.split_data(telco, target='churn')
train.shape, validate.shape, test.shape

((3943, 52), (1691, 52), (1409, 52))

In [76]:
# define variable types
num_vars = ['tenure', 'monthly_charges', 'total_charges']
cat_vars = ['senior_citizen',
         'churn',
         'male',
         'partner',
         'dependents',
         'phone_service',
         'paperless_billing_Yes',
         'multiple_lines_No',
         'multiple_lines_No phone service',
         'multiple_lines_Yes',
         'online_security_No',
         'online_security_No internet service',
         'online_security_Yes',
         'online_backup_No',
         'online_backup_No internet service',
         'online_backup_Yes',
         'device_protection_No',
         'device_protection_No internet service',
         'device_protection_Yes',
         'tech_support_No',
         'tech_support_No internet service',
         'tech_support_Yes',
         'streaming_tv_No',
         'streaming_tv_No internet service',
         'streaming_tv_Yes',
         'streaming_movies_No',
         'streaming_movies_No internet service',
         'streaming_movies_Yes',
         'contract_type_Month-to-month',
         'contract_type_One year',
         'contract_type_Two year',
         'payment_type_Bank transfer (automatic)',
         'payment_type_Credit card (automatic)',
         'payment_type_Electronic check',
         'payment_type_Mailed check',
         'internet_service_type_DSL',
         'internet_service_type_Fiber optic',
         'internet_service_type_None']